---
---
$theme-color: {{ site.themecolor }};
$secondary-color: {{ site.secondarycolor }};
$footer-color: {{ site.footercolor }};
$dark-text: {{ site.darktext }};
$Helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif;
$Coolvetica: Coolvetica, Arial, sans-serif;
$Cormorant: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$Nunito: Nunito, $Helvetica;

$content-width: 60rem;

#about-us {
	padding: 3em 2em;

	> div {
		width: $content-width;
		max-width: 100%;
		margin: auto;
		display: flex;

		> div:nth-child(1) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-basis: 50%;
			width: 50%;
			margin: 0;
			flex-grow: 1;

			h2 {
				font-family: $Cormorant;
				font-style: italic;
				font-size: 2.5em;
				margin: 0;
			}

			p {
				font-family: $Helvetica;
				font-size: 1.2em;
				font-weight: 300;
				margin: 1rem 0;
			}
		}

		> div:nth-child(2) {
			display: flex;
			justify-content: center;
			flex-grow: 1;
			max-width: 25em;
			align-self: center;
			margin-left: 1em;

			> div:nth-child(1) {
				display: flex;
				flex-direction: column;
				margin-right: -2em;
				z-index: 1;

				div:nth-child(1) {
					flex-basis: 20%;
					flex-grow: 1;
					flex-shrink: 1;
				}

				div:nth-child(2) {
					font-size: 3em;
					font-family: $Cormorant;
					font-style: italic;
					font-weight: 300;
					background-color: $secondary-color;
					border-radius: 50%;
					padding: .4em;
				}

				div:nth-child(3) {
					flex-basis: 80%;
					flex-grow: 1;
					flex-shrink: 1;
				}
			}

			> img {
				height: 20em;
			}
		}
	}
}

#our-history {
	padding: 3em 2em;

	> div {
		width: $content-width;
		max-width: 100%;
		margin: auto;
		display: flex;
		flex-direction: row-reverse;

		> div:nth-child(1) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-basis: 50%;
			width: 50%;
			margin: 0;
			flex-grow: 1;

			h2 {
				font-family: $Cormorant;
				font-style: italic;
				font-size: 2.5em;
				margin: 0;
			}

			p {
				font-family: $Helvetica;
				font-size: 1.2em;
				font-weight: 300;
				margin: 1rem 0;
			}
		}

		> div:nth-child(2) {
			align-self: center;
			flex-grow: 1;
			text-align: center;

			> img {
				height: 20em;
				margin-right: 1em;
			}
		}
	}
}

#our-mission {
	padding: 3em 2em;

	> div {
		width: $content-width;
		max-width: 100%;
		margin: auto;
		display: flex;

		> div:nth-child(1) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-basis: 50%;
			width: 50%;
			margin: 0;
			flex-grow: 1;

			h2 {
				font-family: $Cormorant;
				font-style: italic;
				font-size: 2.5em;
				margin: 0;
			}

			p {
				font-family: $Helvetica;
				font-size: 1.2em;
				font-weight: 300;
				margin: 1rem 0;
			}
		}

		> div:nth-child(2) {
			align-self: center;
			flex-grow: 1;
			text-align: center;

			> img {
				height: 20em;
				margin-left: 1em;
			}
		}
	}
}

#contact-us {
	padding: 3em 2em;

	> div {
		width: $content-width;
		max-width: 100%;
		margin: auto;
		display: flex;

		> div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-basis: 50%;
			width: 50%;

			h2 {
				font-family: $Cormorant;
				font-style: italic;
				font-size: 2.5em;
				margin: 0;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;

				> div {
					height: 1em;
					width: 1em;
					vertical-align: middle;
					transform: scale(1.3);
					margin-right: .5em
				}
			}

			p {
				font-family: $Cormorant;
				font-size: 1.8em;
				font-weight: 300;
				margin: 0;

				a {
					color: inherit;
					text-decoration: none;
					display: flex;

					span {
						display: block;
						text-decoration: underline;
						font-size: 1em;

						&:first-of-type {
							display: flex;
							flex-direction: column;
							justify-content: center;
						}

						&:last-of-type {
							vertical-align: middle;
						}
					}

					&:hover,
					&:focus,
					&:focus-within {
						span {
							text-decoration: none;
						}
					}
				}

				&:nth-child(2) {
					margin: 1rem 0 0;
				}

				&:last-of-type {
					margin: 0 0 1rem;
				}
			}

			> form {
				background-color: white;
				padding: 1em 2em;

				h3 {
					font-family: $Nunito;
					font-weight: 300;
					font-style: italic;
					font-size: 1.5em;
					color: scale-color($theme-color, $lightness: 20%);
					margin: 0;
				}

				input,
				textarea {
					border: .2em solid $theme-color;
					font-family: $Nunito;
					font-weight: 300;
					font-style: italic;
					font-size: 1.2em;
					color: scale-color($theme-color, $lightness: 20%);
					padding: .5rem 1rem;
					outline: 0;
					width: calc(100% - 2rem);

					&:focus {
						border-color: scale-color($theme-color, $lightness: 50%);
					}

					&:not(:first-child) {
						margin-top: 1rem;
					}
				}

				textarea {
					height: 4em;
				}

				button {
					background-color: scale-color($theme-color, $lightness: 20%);
					color: white;
					border: 0;
					font-size: 1.2em;
					padding: .5rem 1rem;
					width: calc(50% - 2rem);
					margin: 1rem auto 0;
					display: block;
					cursor: pointer;

					&:hover,
					&:focus {
						background-color: scale-color($theme-color, $lightness: 50%);
					}
				}
			}

			&:nth-child(2) {
				margin-left: 1em;
			}
		}
	}
}

#follow-us {
	padding: 3rem 2rem;

	> div:nth-child(1) {
		text-align: center;
		font-family: $Coolvetica;

		a {
			background-color: $secondary-color;
			padding: .5rem 1.5rem;
			font-size: 1.5em;
			border-radius: 2em;
			text-decoration: none;
			display: inline-block;
			margin: auto;
			display: inline-flex;
			align-items: stretch;
			color: black;

			span:first-of-type {
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
			}

			span:last-of-type {
				vertical-align: middle;
			}
		}
	}

	> div:nth-child(2) {
		display: flex;
		width: $content-width;
		max-width: 100%;
		margin: 1em auto 0;
		justify-content: space-around;
		font-family: $Coolvetica;
		font-size: 1.5em;
		color: $dark-text;

		> div {
			flex-grow: 1;
			flex-basis: 0;
			text-align: center;
		}
	}

	> div:nth-child(3) {
		display: flex;
		width: $content-width;
		max-width: 100%;
		height: 18rem;
		max-height: calc((100vw - 4rem) * 0.3);
		margin: 1em auto 0;
		justify-content: space-around;

		> img {
			width: 20em;
			max-width: 30%;
			flex-shrink: 1;
			object-fit: cover;
		}
	}
}

@media only screen and (max-width: 767px) {
	#about-us {
		> div {
			flex-direction: column;

			> div:nth-child(1) {
				width: 100%;
				flex-basis: 100%;
			}

			> div:nth-child(2) {
				max-width: initial;
			}
		}
	}

	#our-history {
		> div {
			flex-direction: column;

			> div:nth-child(1) {
				width: 100%;
				flex-basis: 100%;
			}

			> div:nth-child(2) img {
				margin-right: 0;
			}
		}
	}

	#our-mission {
		> div {
			flex-direction: column;

			> div:nth-child(1) {
				width: 100%;
				flex-basis: 100%;
			}

			> div:nth-child(2) img {
				margin-left: 0;
			}
		}
	}

	#contact-us {
		> div {
			flex-direction: column;

			> div {
				width: 100%;
				flex-basis: 100%;

				&:nth-child(2) {
					margin: 0;
				}
			}
		}
	}

	#follow-us {
		> div:nth-child(2) {
			flex-direction: column;
			align-items: center;
		}

		> div:nth-child(3) {
			flex-direction: column;
			align-items: center;
			height: initial;
			max-height: initial;

			> img {
				max-width: 80%;
				flex-shrink: initial;

				&:not(:first-child) {
					margin-top: 1em;
				}
			}
		}
	}
}
