---
---
{% include sass_variables.scss %}

#about-us {
	#hi-flex {
		$offset-from-top: 20%;

		display: flex;
		flex-direction: column;
		margin-right: -2em;
		z-index: 1;

		div:nth-child(1) {
			flex-basis: $offset-from-top;
			flex-grow: 1;
			flex-shrink: 1;
		}

		div:nth-child(2) {
			font-size: 3em;
			font-family: $Cormorant;
			font-style: italic;
			font-weight: 300;
			background-color: $secondary-color;
			border-radius: 50%;
			padding: .4em;
		}

		div:nth-child(3) {
			flex-basis: 100% - $offset-from-top;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}

	img {
		box-shadow: 0 .2em .3em transparentize(black, 0.47);
	}
}

#our-history {
	img {
		box-shadow: 0 .2em .3em transparentize(black, 0.47);
	}
}

#our-mission {
	img {
		box-shadow: 0 .2em .3em transparentize(black, 0.47);
	}
}