---
---
{% include sass_variables.scss %}

#college-readiness {
	p:last-child {
		margin-bottom: 0;
	}
}

#categories {
	#selector {
		a {
			margin: 0;
			padding: 1em;
			text-align: center;
			white-space: initial;

			h4 {
				font-family: $Coolvetica;
				font-weight: 500;
				margin: 0;
			}

			p {
				margin: .5em 0 0;
			}

			&:not(:first-child) {
				margin-left: 1em;
			}
		}
	}
}

@media #{$mobile} {
	#categories {
		#selector {
			flex-direction: column;

			a:not(:first-child) {
				margin-left: initial;
				margin-top: 1em;
			}
		}
	}
}