---
---
{% include sass_variables.scss %}

@keyframes loading {
	from {
		transform: translateY(-.25rem);
	}

	to {
		transform: translateY(.25rem);
	}
}

#contact-us {
	> div {
		display: flex;

		> div {
			@include centering-flex;
			flex-basis: 50%;

			&:nth-child(2) {
				margin-left: 1em;
			}
		}
	}

	&:nth-of-type(2n) h2 > div {
		color: $secondary-color;
	}

	&:nth-of-type(2n + 1) h2 > div {
		color: scale-color($theme-color, $lightness: 5%);
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> div {
			height: 1em;
			width: 1em;
			vertical-align: middle;
			transform: scale(1.3);
			transform-origin: right;
			margin-right: .5em
		}
	}

	p {
		margin: 0;

		a {
			color: inherit;
			text-decoration: none;
			display: inline-flex;

			span {
				display: block;

				&:first-of-type {
					@include centering-flex;
				}

				&:last-of-type {
					vertical-align: middle;
				}
			}

			&:hover,
			&:focus,
			&:focus-within {
				span {
					text-decoration: none;
				}
			}
		}

		&:nth-child(2) {
			margin: 1rem 0 0;
		}

		&:not(:last-of-type) {
			font-family: $Nunito;
			font-size: 1.5em;
			font-weight: 300;
			font-style: italic;
		}

		&:last-of-type {
			margin: 1em 0 0;
		}
	}

	&:nth-of-type(2n) form {
		background-color: white;

		h2 {
			color: scale-color($theme-color, $lightness: 20%);
		}

		input,
		textarea {
			border: .2em solid $theme-color;
		}

		> [type=submit] {
			background-color: scale-color($theme-color, $lightness: 20%);
			color: white;

			&:hover,
			&:focus {
				background-color: scale-color($theme-color, $lightness: 50%);
			}
		}

		&.submitting > [type=submit] {
			background-color: adjust-color($theme-color, $lightness: 50%);
		}

		#indicator {
			color: scale-color($theme-color, $lightness: 20%);
		}

		#contact-us-err {
			color: black;
		}
	}

	&:nth-of-type(2n + 1) form {
		background-color: scale-color($theme-color, $lightness: 5%);

		h2 {
			color: white;
		}

		input,
		textarea {
			border: .2em solid $secondary-color;
		}

		> [type=submit] {
			background-color: white;
			color: $theme-color;

			&:hover,
			&:focus {
				background-color: scale-color(white, $lightness: -10%);
			}
		}

		&.submitting > [type=submit] {
			background-color: change-color(white, $lightness: 75%);
			color: change-color($theme-color, $saturation: 50%);
			pointer-events: none;
			cursor: not-allowed;
		}

		#indicator {
			color: white;
		}

		#contact-us-err {
			color: white;
		}
	}

	form {
		padding: 1em 2em;

		h2 {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			font-size: 1.5em;
			margin: 0;
		}

		input,
		textarea {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			font-size: 1.2em;
			color: scale-color($theme-color, $lightness: 20%);
			padding: .5rem 1rem;
			outline: 0;
			width: calc(100% - 2rem);
			border-radius: .4em;
			transition: border-color .3s cubic-bezier(0.77,0.2,0.05,1.0);

			&:focus {
				border-color: scale-color($theme-color, $lightness: 50%);
			}

			&:not(:first-child) {
				margin-top: 1rem;
			}
		}

		textarea {
			height: 4em;
		}

		> [type=submit],
		#indicator {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			border: 0;
			font-size: 1.2rem;
			padding: .5rem 1rem;
			width: calc(50% - 2rem);
			margin: 1rem auto 0;
			display: block;
			cursor: pointer;
			box-sizing: border-box;
			text-align: center;
		}

		&.submitted > [type=submit] {
			pointer-events: none;
		}

		&:not(.errored) #contact-us-err {
			display: none;
		}

		#contact-us-err {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			font-size: 1rem;
			padding: .5rem 1rem;
			text-align: center;

			> [type=submit] {
				display: inline;
				margin: 0;
				border: none;
				padding: 0;
				background-color: transparent;
				font-size: inherit;
				font-weight: inherit;
				font-style: inherit;
				text-decoration: underline;
				cursor: pointer;

				&:hover,
				&:focus {
					text-decoration: none;
				}
			}
		}

		#indicator {
			cursor: default;

			span {
				color: transparent;
				pointer-events: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
				display: inline-block;
				width: 0;
			}

			div {
				margin: 0 .1rem;
				display: inline-block;
				height: .5rem;
				width: .5rem;
				border-radius: 50%;
				background-color: currentColor;
				animation-name: loading;
				animation-duration: .55s;
				animation-direction: alternate;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
				animation-fill-mode: both;

				&:nth-of-type(1) {
					animation-delay: 0s;
				}

				&:nth-of-type(2) {
					animation-delay: .15s;
				}

				&:nth-of-type(3) {
					animation-delay: .3s;
				}
			}
		}

		&.submitting > [type=submit],
		&:not(.submitting) #indicator {
			display: none;
		}
	}
}

@media #{$mobile} {
	#contact-us > div {
		flex-direction: column;

		> div {
			width: 100%;
			flex-basis: 100%;

			&:nth-child(2) {
				margin: 0;
			}
		}

		p:last-of-type {
			margin-bottom: 1em;
		}
	}
}