---
---
{% include sass_variables.scss %}

#donate-to-fgf {
	.text-then-img img {
		box-shadow: 0 .2em .3em transparentize(black, 0.47);
	}
}

#donate-with {
	.flex-row {
		width: $content-width * .75;

		> div {
			text-align: center;
			padding: 1.5em;

			img {
				height: 3em;
				display: block;
				margin: 0 auto 1em;
			}

			a.button {
				min-width: 50%;
				max-width: 100%;
			}

			&:not(:first-child) {
				margin-left: 1em;
			}
		}
	}
}

@media #{$mobile} {
	#donate-with {
		.flex-row div:not(:first-child) {
			margin-left: initial;
			margin-top: 1em;
		}
	}
}