---
---
{% include sass_variables.scss %}

#faq {
	ul {
		@include body-width;
	}

	h3 {
		font-size: 1.5em;
		font-family: $Coolvetica;
		font-weight: 500;
		font-style: initial;
		line-height: 1.5;
	}

	p {
		margin-top: 0;
		margin-bottom: 1.25em;
	}
}