---
---
{% include sass_variables.scss %}

#banner {
	background-color: scale-color($secondary-color, $lightness: 20%);
	padding: 1rem 2rem;
	position: relative;
	box-shadow: 0 .2em .3em transparentize(black, 0.47);

	p {
		margin: 0;
		font-family: $Helvetica;
		font-size: 1.2rem;
		text-align: center;
	}

	h4 {
		font-family: $Coolvetica;
		font-size: 2rem;
		text-align: center;
		margin: .25rem 0;
	}
}

#quick-links {
	display: flex;
	flex-wrap: wrap;

	.quick-link {
		max-width: 20em;
		width: 33%;
		flex-basis: 33%;
		flex-shrink: 1;
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		&-img {
			box-shadow: 0 .2em .3em transparentize(black, 0.47);

			a > div {
				width: 100%;
				position: relative;
				overflow: hidden;

				> img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					object-fit: cover;

				}

				> div {
					// This <div> gives the parent <div> its 16:9 ratio shape.
					margin-top: percentage(9 / 16);
				}
			}
		}

		p {
			margin: .5em 0;
			line-height: initial;
			color: #4C0803;
			flex-grow: 1;
		}

		h4 {
			margin: .5em 0 0;
			font-size: 1.7em;
			font-family: $Helvetica;
		}

		> a {
			width: 50%;
		}

		&:not(:first-of-type) {
			margin-left: 2em;
		}
	}

	#quick-links-container {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-basis: 100%;
	}
}

#about-us {
	#about {
		background-color: $secondary-color;
		padding: .5em;
		position: relative;
		width: 100%;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}

		> div {
			position: relative;
			overflow: hidden;
			box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.53);

			div {
				margin-top: percentage(9 / 16);
			}
		}
	}

	.text-then-img > div {
		flex-basis: 50%
	}
}

#follow-us {
	.button-center {
		font-family: $Coolvetica;

		a {
			background-color: $secondary-color;
			padding: .5rem 1.5rem;
			font-size: 1.5em;
			border-radius: 2em;
			text-decoration: none;
			display: inline-flex;
			align-items: stretch;
			color: black;

			span:first-of-type {
				@include centering-flex;
				margin-right: .25rem;
			}
		}
	}

	#follow-tags {
		margin: 1em auto;
		font-family: $Coolvetica;
		font-size: 1.5em;
	}

	#follow-images {
		height: 18rem;
		max-height: calc((100vw - 4rem) * 0.3);

		> img {
			width: 20em;
			max-width: 30%;
			flex-shrink: 1;
			object-fit: cover;
			box-shadow: 0 .2em .3em transparentize(black, 0.47);
		}
	}
}

@media #{$mobile} {
	#quick-links {
		#quick-links-container {
			flex-direction: column;
			align-items: center;

			.quick-link {
				max-width: 30em;
				width: 100%;
				flex-basis: 100%;

				&:not(:first-of-type) {
					margin-left: 0;
					margin-top: 2em;
				}
			}
		}
	}

	#about-us {
		> div {
			flex-direction: column;

			> div {
			width: 100%;
			flex-basis: 100%;
			}
		}
	}

	#follow-us {
		#follow-tags {
			align-items: center;

			> * {
				margin-top: 0;
			}
		}

		#follow-images {
			align-items: center;
			height: initial;
			max-height: initial;

			> img {
				max-width: 80%;
				flex-shrink: initial;
			}
		}
	}
}
