---
---
{% include sass_variables.scss %}

#quick-links {
	display: flex;
	flex-wrap: wrap;

	.quick-link {
		max-width: 20em;
		width: 33%;
		flex-basis: 33%;
		flex-shrink: 1;
		flex-grow: 1;

		&-img {
			box-shadow: 0 .2em .3em transparentize(black, 0.47);

			a > div {
				width: 100%;
				background-size: cover;
				background-position: center;
				overflow: hidden;

				> div {
					// This <div> gives the parent <div> its 16:9 ratio shape.
					margin-top: percentage(9 / 16);
				}
			}
		}

		p {
			line-height: initial;
			color: #4C0803;
		}

		h4 {
			margin: .2em 0;
			font-size: 1.7em;
			font-family: $Helvetica;
		}

		> a {
			display: none;
			width: 50%;
		}

		&:not(:first-of-type) {
			margin-left: 2em;
		}
	}

	#quick-links-container {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-basis: 100%;
	}

	#quick-btns-container {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-basis: 100%;

		.quick-btn {
			max-width: 20em;
			width: 33%;
			flex-basis: 33%;
			flex-shrink: 1;
			flex-grow: 1;

			> a {
				display: block;
				width: 50%;
			}

			&:not(:first-of-type) {
				margin-left: 2em;
			}
		}
	}
}

#about-us {
	#about {
		background-color: $secondary-color;
		padding: .5em;
		position: relative;
		width: 100%;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}

		> div {
			position: relative;
			overflow: hidden;

			div {
				margin-top: percentage(9 / 16);
			}
		}
	}

	.text-then-img > div {
		flex-basis: 50%
	}
}

#contact-us {
	> div {
		display: flex;

		> div {
			@include centering-flex;
			flex-basis: 50%;

			&:nth-child(2) {
				margin-left: 1em;
			}
		}
	}

	&:nth-child(2n) h2 > div {
		color: $secondary-color;
	}

	&:nth-child(2n + 1) h2 > div {
		color: scale-color($theme-color, $lightness: 5%);
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> div {
			height: 1em;
			width: 1em;
			vertical-align: middle;
			transform: scale(1.3);
			transform-origin: right;
			margin-right: .5em
		}
	}

	p {
		margin: 0;

		a {
			color: inherit;
			text-decoration: none;
			display: inline-flex;

			span {
				display: block;

				&:first-of-type {
					@include centering-flex;
				}

				&:last-of-type {
					vertical-align: middle;
				}
			}

			&:hover,
			&:focus,
			&:focus-within {
				span {
					text-decoration: none;
				}
			}
		}

		&:nth-child(2) {
			margin: 1rem 0 0;
		}

		&:not(:last-of-type) {
			font-family: $Nunito;
			font-size: 1.5em;
			font-weight: 300;
			font-style: italic;
		}

		&:last-of-type {
			margin: 1em 0 0;
		}
	}

	&:nth-child(2n) form {
		background-color: white;

		h4 {
			color: scale-color($theme-color, $lightness: 20%);
		}

		input,
		textarea {
			border: .2em solid $theme-color;
		}

		button {
			background-color: scale-color($theme-color, $lightness: 20%);
			color: white;

			&:hover,
			&:focus {
				background-color: scale-color($theme-color, $lightness: 50%);
			}
		}
	}

	&:nth-child(2n + 1) form {
		background-color: scale-color($theme-color, $lightness: 5%);

		h4 {
			color: white;
		}

		input,
		textarea {
			border: .2em solid $secondary-color;
		}

		button {
			background-color: white;
			color: $theme-color;

			&:hover,
			&:focus {
				background-color: scale-color(white, $lightness: -10%);
			}
		}
	}

	form {
		padding: 1em 2em;

		h4 {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			font-size: 1.5em;
			margin: 0;
		}

		input,
		textarea {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			font-size: 1.2em;
			color: scale-color($theme-color, $lightness: 20%);
			padding: .5rem 1rem;
			outline: 0;
			width: calc(100% - 2rem);
			border-radius: .4em;
			transition: border-color .3s cubic-bezier(0.77,0.2,0.05,1.0);

			&:focus {
				border-color: scale-color($theme-color, $lightness: 50%);
			}

			&:not(:first-child) {
				margin-top: 1rem;
			}
		}

		textarea {
			height: 4em;
		}

		button {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			border: 0;
			font-size: 1.2em;
			padding: .5rem 1rem;
			width: calc(50% - 2rem);
			margin: 1rem auto 0;
			display: block;
			cursor: pointer;
		}
	}
}

#follow-us {
	.button-center {
		font-family: $Coolvetica;

		a {
			background-color: $secondary-color;
			padding: .5rem 1.5rem;
			font-size: 1.5em;
			border-radius: 2em;
			text-decoration: none;
			display: inline-flex;
			align-items: stretch;
			color: black;

			span:first-of-type {
				@include centering-flex;
			}
		}
	}

	#follow-tags {
		margin: 1em auto;
		font-family: $Coolvetica;
		font-size: 1.5em;
	}

	#follow-images {
		height: 18rem;
		max-height: calc((100vw - 4rem) * 0.3);

		> img {
			width: 20em;
			max-width: 30%;
			flex-shrink: 1;
			object-fit: cover;
		}
	}
}

@media #{$mobile} {
	#quick-links {
		#quick-links-container {
			flex-direction: column;
			align-items: center;

			.quick-link {
				max-width: 30em;
				width: 100%;
				flex-basis: 100%;

				> a {
					display: block;
				}

				&:not(:first-of-type) {
					margin-left: 0;
					margin-top: 2em;
				}
			}
		}

		#quick-btns-container {
			display: none;
		}
	}

	#about-us {
		> div {
			flex-direction: column;

			> div {
			width: 100%;
			flex-basis: 100%;
			}
		}
	}

	#contact-us > div {
		flex-direction: column;

		> div {
			width: 100%;
			flex-basis: 100%;

			&:nth-child(2) {
				margin: 0;
			}
		}

		p:last-of-type {
			margin-bottom: 1em;
		}
	}

	#follow-us {
		#follow-tags {
			align-items: center;

			> * {
				margin-top: 0;
			}
		}

		#follow-images {
			align-items: center;
			height: initial;
			max-height: initial;

			> img {
				max-width: 80%;
				flex-shrink: initial;
			}
		}
	}
}
