---
---
{% include sass_variables.scss %}

@keyframes loading {
	from {
		transform: translateY(-.25rem);
	}

	to {
		transform: translateY(.25rem);
	}
}

#email-reminder {
	background-color: #FFF;
	padding: 1rem 2rem 0;
	position: relative;

	form {
		@include body-width;
		margin: auto;

		#er-info {
			font-family: $Helvetica;
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 1.5;
			text-align: center;
			margin: 0;
		}

		#er-info-extra {
			font-family: $Helvetica;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1.5;
			text-align: center;
			margin: 0 0 .5em;
			color: #777;
		}

		#er-inputs {
			display: flex;

			input {
				flex-basis: 50%;
				margin: 0;
				border: .2em solid $theme-color;
				border-radius: .4em;
				font-family: $Nunito;
				font-weight: 300;
				font-style: italic;
				font-size: 1.2rem;
				color: scale-color($theme-color, $lightness: 20%);
				padding: .4rem .8rem;
				outline: 0;
				transition: border-color .3s cubic-bezier(0.77,0.2,0.05,1.0);

				&:focus {
					border-color: scale-color($theme-color, $lightness: 50%);
				}

				&:last-of-type {
					margin-left: 1em;
				}
			}
		}

		#er-buttons {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#er-submit,
		#er-submit-indicator {
			font-family: $Nunito;
			font-weight: 300;
			font-style: italic;
			border: 0;
			font-size: 1.2rem;
			padding: .5rem 1rem;
			width: 12em;
			margin-top: .5em;
			margin-bottom: 0;
			max-width: 100%;
			cursor: pointer;
			box-sizing: border-box;
			text-align: center;
			background-color: scale-color($theme-color, $lightness: 20%);
			color: white;
		}

		#er-submit {
			&:hover,
			&:focus {
				background-color: scale-color($theme-color, $lightness: 50%);
			}
		}

		#er-submit-indicator {
			background-color: transparent;
			cursor: default;

			span {
				color: transparent;
				pointer-events: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
				display: inline-block;
				width: 0;
			}

			div {
				margin: 0 .1rem;
				display: inline-block;
				height: .5rem;
				width: .5rem;
				border-radius: 50%;
				background-color: scale-color($theme-color, $lightness: 20%);
				animation-name: loading;
				animation-duration: .55s;
				animation-direction: alternate;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
				animation-fill-mode: both;

				&:nth-of-type(1) {
					animation-delay: 0s;
				}

				&:nth-of-type(2) {
					animation-delay: .15s;
				}

				&:nth-of-type(3) {
					animation-delay: .3s;
				}
			}
		}

		&.submitting #er-submit,
		&:not(.submitting) #er-submit-indicator {
			display: none;
		}

		&.submitted #er-submit {
			pointer-events: none;
		}

		#er-error {
			display: none;
			font-family: $Helvetica;
			font-weight: 300;
			font-size: 1rem;
			margin-bottom: .2rem;
		}

		&.errored #er-error {
			display: block;
		}

		#er-no {
			color: #888;
			font-size: .9rem;
			padding: .2em .4em;
			font-family: $Helvetica;
			font-weight: 300;
			background-color: transparent;
			border: none;
			cursor: pointer;
			display: inline;
			text-decoration: underline;
			display: none;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		.scriptenabled & #er-no {
			display: block;
		}
	}
}

#quick-links {
	display: flex;
	flex-wrap: wrap;

	.quick-link {
		max-width: 20em;
		width: 33%;
		flex-basis: 33%;
		flex-shrink: 1;
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		&-img {
			box-shadow: 0 .2em .3em transparentize(black, 0.47);

			a > div {
				width: 100%;
				position: relative;
				overflow: hidden;

				> img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					object-fit: cover;

				}

				> div {
					// This <div> gives the parent <div> its 16:9 ratio shape.
					margin-top: percentage(9 / 16);
				}
			}
		}

		p {
			margin: .5em 0;
			line-height: initial;
			color: #4C0803;
			flex-grow: 1;
		}

		h4 {
			margin: .5em 0 0;
			font-size: 1.7em;
			font-family: $Helvetica;
		}

		> a {
			width: 50%;
		}

		&:not(:first-of-type) {
			margin-left: 2em;
		}
	}

	#quick-links-container {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-basis: 100%;
	}
}

#about-us {
	#about {
		background-color: $secondary-color;
		padding: .5em;
		position: relative;
		width: 100%;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}

		> div {
			position: relative;
			overflow: hidden;
			box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.53);

			div {
				margin-top: percentage(9 / 16);
			}
		}
	}

	.text-then-img > div {
		flex-basis: 50%
	}
}

#follow-us {
	.button-center {
		font-family: $Coolvetica;

		a {
			background-color: $secondary-color;
			padding: .5rem 1.5rem;
			font-size: 1.5em;
			border-radius: 2em;
			text-decoration: none;
			display: inline-flex;
			align-items: stretch;
			color: black;

			span:first-of-type {
				@include centering-flex;
				margin-right: .25rem;
			}
		}
	}

	#follow-tags {
		margin: 1em auto;
		font-family: $Coolvetica;
		font-size: 1.5em;
	}

	#follow-images {
		height: 18rem;
		max-height: calc((100vw - 4rem) * 0.3);

		> img {
			width: 20em;
			max-width: 30%;
			flex-shrink: 1;
			object-fit: cover;
			box-shadow: 0 .2em .3em transparentize(black, 0.47);
		}
	}
}

@media #{$mobile} {
	#email-reminder {
		form #er-inputs {
			flex-direction: column;

			input:last-of-type {
				margin-left: 0;
				margin-top: .4em;
			}
		}
	}

	#quick-links {
		#quick-links-container {
			flex-direction: column;
			align-items: center;

			.quick-link {
				max-width: 30em;
				width: 100%;
				flex-basis: 100%;

				&:not(:first-of-type) {
					margin-left: 0;
					margin-top: 2em;
				}
			}
		}
	}

	#about-us {
		> div {
			flex-direction: column;

			> div {
			width: 100%;
			flex-basis: 100%;
			}
		}
	}

	#follow-us {
		#follow-tags {
			align-items: center;

			> * {
				margin-top: 0;
			}
		}

		#follow-images {
			align-items: center;
			height: initial;
			max-height: initial;

			> img {
				max-width: 80%;
				flex-shrink: initial;
			}
		}
	}
}
