---
---
{% include sass_variables.scss %}

@mixin flex-row {
	@include body-width;
	display: flex;
	justify-content: space-around;

	> * {
		flex-grow: 1;
		flex-basis: 0;
		text-align: center;
	}

	> :not(:first-child) {
		margin-left: 1em;
	}
}

html,
body {
	margin: 0;
	overflow-x: hidden;
	background-color: $footer-color;
}

header {
	background-color: $theme-color;
	padding: 2em 2rem .5em;
	font-family: $Cormorant;
	font-weight: 500;
	z-index: 999;

	> div {
		width: $content-width;
		max-width: 100%;
		margin: auto;
		display: flex;
		margin-bottom: .5em;

		> a {
			flex-basis: 12%;
			width: 12%;
			min-width: 4em;
			display: inline-block;
			align-self: center;
		}

		> div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 0 0 .9em;
			flex-grow: 1;
			align-self: stretch;

			> #name {
				font-size: 3rem;
				font-family: $Coolvetica;
				color: white;
				text-shadow: 0 0 2px black;
				margin: 0;
				line-height: 1;
				flex-grow: 1;
				@include centering-flex;

				a {
					color: white;
					text-decoration: none;
				}
			}

			> #slogan {
				font-size: 1.5rem;
				font-style: italic;
				margin: 0;

				> a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}

nav {
	background-color: $theme-color;
	z-index: 999;

	{% if site.stickyheader %}
	// Add position: sticky if site has its stickyheader option on.
	// This should be overriden by Stickyfill.js, but is still here in the unlikely case that JavaScript is turned off as a fallback.
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	{% else %}
	position: relative;
	{% endif %}

	input#show-nav {
		display: none;
	}

	> div {
		display: flex;
		justify-content: space-between;
		width: $content-width;
		max-width: 100%;
		margin: auto;

		> #olang {
			font-family: $Cormorant;

			> a {
				font-size: 1.2em;
				color: white;
				text-decoration: none;
				display: inline-block;
				padding: .6em 1.5em;
				transition: background-color .3s cubic-bezier(0.77,0.2,0.05,1.0);

				&:hover,
				&:focus {
					background-color: scale-color($theme-color, $lightness: 10%);
				}
			}
		}

		> ul {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: flex-end;
			font-size: 1.2em;
			font-family: $Cormorant;
			font-weight: 500;

			li.nav-link {
				list-style-type: none;
				display: block;
				color: white;
				transition: background-color .3s cubic-bezier(0.77,0.2,0.05,1.0);
				position: relative;

				&.selected {
					color: $secondary-color;
				}

				> a,
				> span {
					color: inherit;
					text-decoration: none;
					display: inline-block;
					padding: .6em 1.5em;
				}

				ul.subnav {
					display: none;
					padding: 0;
					position: absolute;
					right: 0;
					width: 11em;
					background-color: scale-color($theme-color, $lightness: 10%);
					padding: .5em 0;
					color: white;
					flex-direction: column;

					li {
						list-style-type: none;
						display: block;

						&.selected {
							color: $secondary-color;
						}

						a {
							color: inherit;
							text-decoration: none;
							padding: .3em 1em;
							display: block;

							&:hover,
							&:focus {
								background-color: scale-color(scale-color($theme-color, $lightness: 10%), $lightness: 10%);
							}
						}
					}
				}

				&:hover,
				&:focus,
				&:focus-within {
					background-color: scale-color($theme-color, $lightness: 10%);

					ul.subnav {
						display: flex;
					}
				}
			}
		}
	}
}

body {
	> section {
		padding: 3rem 2rem;

		h2,
		h3 {
			font-family: $Cormorant;
			font-weight: 500;
			font-style: italic;
			margin: 0;
		}

		> h2,
		> h3 {
			@include body-width;
		}

		h2 {
			font-size: 2.8rem;
		}

		h3 {
			font-size: 2rem;
		}

		p {
			font-size: 1.2rem;
			line-height: 1.5;
			font-family: $Helvetica;
			font-weight: 300;
		}

		.flex-row {
			@include flex-row;
		}

		.text-then-img {
			@include body-width;
			display: flex;
			align-items: center;

			> :nth-child(1) {
				flex-grow: 1;
				flex-basis: 50%;
			}

			> :nth-child(2) {
				@include centering-flex(row);
				flex-grow: 1;
				max-width: 25em;
				margin-left: 1em;
				text-align: center;

				img {
					height: 20em;
				}
			}
		}

		.img-then-text {
			@extend .text-then-img;
			flex-direction: row-reverse;

			> :nth-child(2) {
				margin-left: initial;
				margin-right: 1em;
			}
		}

		> div {
			@include body-width;
		}

		&:nth-of-type(2n) {
			background-color: scale-color($theme-color, $lightness: 5%);
			color: white;
		}

		&:nth-of-type(2n + 1) {
			background-color: white;
			color: black;
		}

		> section {
			padding: 1rem 0;

			&:last-child {
				padding-bottom: 0;
			}

			p strong {
				font-weight: 600;
			}

			> div,
			> h2,
			> h3 {
				@include body-width;
			}
		}
	}
}

a {
	color: inherit;
}

a.button {
	font-family: $Coolvetica;
	margin: auto;
	text-align: center;
	color: white;
	background-color: $theme-color;
	text-decoration: none;
	white-space: nowrap;
	padding: .3em 1em;
	font-size: 1.5em;
	border-radius: .5em;
	transition: color .3s cubic-bezier(0.77,0.2,0.05,1.0),
		background-color .3s cubic-bezier(0.77,0.2,0.05,1.0);
	box-shadow: inset 0 .075em .15em transparentize(black, 0.4),
		inset 0 -.075em .15em transparentize(white, 0.25);

	&:hover,
	&:focus {
		color: $theme-color;
		background-color: #EEE;
	}

	// No href is a disabled button
	&:not([href]) {
		pointer-events: none;
	}
}

.button-center {
	display: block;
	text-align: center;
	padding: .3em * 1.5 0;
}

a.link,
span.link {
	text-decoration: underline;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

footer {
	padding: 3rem 2rem 2rem;
	background-color: $footer-color;
	font-family: $Cormorant;
	font-style: italic;
	font-weight: 500;

	> div {
		@include flex-row;
		align-items: center;
	}

	#footer-social-links a {
		text-decoration: none;
		display: inline-flex;
		justify-content: center;

		span {
			display: block;
			vertical-align: middle;
			text-decoration: underline;
			font-size: 1.2em;
		}

		&:hover,
		&:focus,
		&:focus-within {
			span {
				text-decoration: none;
			}
		}
	}

	#back-to-top {
		margin-top: 1em;
	}

	small {
		display: block;
		text-align: center;
		margin-top: 2em;
		font-family: $Cormorant;
	}
}

html:not(.scriptenabled) .withscript {
	display: none;
}

@media #{$mobile} {
	$burger-height: 2.5rem;
	$burger-width: 3rem;

	body {
		> section {
			.flex-row {
				flex-direction: column;

				> :not(:first-child) {
					margin-left: initial;
					margin-top: 1em;
				}
			}

			.text-then-img {
				@include body-width;
				flex-direction: column;

				> * {
					width: initial;
				}

				> :nth-child(2) {
					margin-left: initial;
					margin-top: 1em;
				}
			}

			.img-then-text {
				> :nth-child(2) {
					margin-right: initial;
				}
			}
		}
	}

	header > div > div {
		> #name {
			font-size: 2rem;
		}

		> #slogan {
			font-size: 1.2em;
		}
	}

	nav {
		display: flex;
		justify-content: flex-end;

		> div {
			#olang > a {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-top: 0;
				padding-bottom: 0;
			}

			#show-nav {
				cursor: pointer;
				display: block;
				margin: 0;
				height: $burger-height;
				width: $burger-width;
				position: absolute;
				right: 0;
				opacity: 0;
				z-index: 1;

				&:checked {
					~ #nav-toggle {
						span {
							&:nth-child(1) {
								transform: translateY(.5rem)
									rotate(45deg);
							}

							&:nth-child(2) {
								transform: rotate(-45deg);
							}

							&:nth-child(3) {
								transform: scale(0);
								opacity: 0;
							}
						}
					}

					~ ul {
						right: 0;
					}
				}
			}

			#nav-toggle {
				height: $burger-height;
				width: $burger-width;
				display: flex;
				flex-direction: column;
				justify-content: center;

				> div {
					display: flex;
					flex-direction: column;
					align-items: center;

					span {
						display: block;
						height: .25rem;
						width: $burger-height - .4rem;
						background-color: white;
						border-radius: .1rem;
						transition: opacity .5s cubic-bezier(0.77,0.2,0.05,1.0),
							transform .5s cubic-bezier(0.77,0.2,0.05,1.0);

						&:not(:first-child) {
							margin-top: .25rem;
						}
					}
				}
			}

			> ul {
				width: 12em;
				max-width: 100%;
				flex-direction: column;
				position: absolute;
				right: -15em;
				top: 100%;
				transition: right .5s cubic-bezier(0.77,0.2,0.05,1.0);
				background-color: $theme-color;
				padding: .5em 0;

				li.nav-link {
					a,
					span {
						width: calc(100% - 3em) ;
						padding: .2em 1.5em;
					}

					ul.subnav {
						display: flex;
						width: 100%;
						position: relative;
						padding: 0;
						background-color: inherit;

						li {
							a {
								width: calc(100% - 3.5em);
								padding: .2em 1.5em .2em 2em;
							}
						}
					}
				}
			}
		}
	}

	footer > div {
		flex-direction: column;

		> :not(:first-child) {
			margin-left: initial;
		}
	}
}
