---
---
{% include sass_variables.scss %}

#our-team {
	#team-members {
		width: $content-width - 5rem;
		max-width: 100%;
		margin: 1.2em auto 0;
		display: flex;
		flex-direction: column;

		div.team-member {
			display: flex;
			justify-content: stretch;

			img {
				height: 20em;
				width: 15em;
				object-fit: cover;
			}

			> div {
				display: flex;
				flex-direction: column;

				> div {
					background-color: $secondary-color;
					color: black;
					font-size: 1.5em;
					padding: .8em 1em;
					width: 18rem;
					margin: .75em 0 0 -2em;

					> span:nth-child(1) {
						font-family: $Coolvetica;
					}

					> span:nth-child(2) {
						font-family: $Cormorant;
						font-size: .8em;
					}
				}
			}

			p {
				padding-left: 1rem;
				margin: 0;

				&:first-of-type {
					margin-top: 1em;
				}

				&.contact-me {
					font-size: 1em;
					margin-top: .5em;
				}
			}

			&:not(:first-child) {
				margin-top: 3em;
			}
		}
	}
}

@media #{$mobile} {
	#our-team {
		#team-members {
			div.team-member {
				flex-direction: column;

				img {
					display: block;
					margin: auto;
				}

				> div {
					> div {
						padding: .5em .8em;
						max-width: calc(100% - 1.6em);
						margin: 0 auto;
						text-align: center;
					}
				}

				p {
					padding-left: 0;
				}
			}
		}
	}
}