---
slides:
  - Financial Relief
  - Housing
  - Food Assistance
  - Utilities
  - Businesses
  - Undocumented Immigrants
  - School
  - Tech
---
$primary: #85D694;
$secondary: #156A31;

{% include slideshow.scss %}