---
slides:
  - Life- Changing Events
  - Passions
  - Hobbies
  - Family
  - Big Picture
  - Dreams and Aspirations
  - Struggles
  - Responsibilities
---
$primary: #ABDDD8;
$secondary: #83B3AF;

{% include slideshow.scss %}