---
---
{% include sass_variables.scss %}

$slides: [
	life-changing-events,
	passions,
	hobbies,
	family,
	big-picture,
	dreams-and-aspirations,
	struggles,
	responsibilities
];

$primary: #ABDDD8;
$secondary: #83B3AF;

$transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

@font-face {
	font-family: 'League Spartan';
	src: url('{{ site.baseurl }}/{{ site.mediadir }}/leaguespartan-bold-webfont.woff2') format('woff2'),
		url('{{ site.baseurl }}/{{ site.mediadir }}/leaguespartan-bold-webfont.woff') format('woff'),
		url('{{ site.baseurl }}/{{ site.mediadir }}/leaguespartan-bold-webfont.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@keyframes hover-hex {
	from {
		stroke-dashoffset: 0px;
	}

	to {
		stroke-dashoffset: 6px;
	}
}

html,
body {
	margin: 0;
	background-color: $primary;
	height: 100%;
	overflow: hidden;
}

svg {
	display: block;
	margin: auto;
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	transition: top $transition,
		height $transition;
}

tspan {
	text-anchor: middle;
	alignment-baseline: middle;
}

@each $slide in $slides {
	##{$slide}:not(:target) ~ svg #hex-#{$slide} {
		opacity: 0;
		pointer-events: none;
	}

	#title:target ~ svg #hex-#{$slide} {
		opacity: 1;
		pointer-events: initial;
	}

	##{$slide}:target ~ svg {
		height: 130%;
		top: -15%;

		#hex-#{$slide} {
			transform: translate(17px, 14.722px + 17px);

			a.forward {
				display: none;
			}

			a.back {
				display: block;
			}

			a polygon {
				stroke-width: 1.5px;
				animation: hover-hex 1s linear infinite;
			}
		}

		#ul-#{$slide} {
			opacity: 1;
			pointer-events: initial;
		}

		#ask-yourself {
			opacity: 1;
			pointer-events: initial;
		}

		#site-2 {
			opacity: 1;
			pointer-events: initial;
		}
	}
}

.hex {
	transition: transform $transition,
		opacity $transition;
	opacity: 1;

	a {
		outline: none;

		&:hover polygon,
		&:focus polygon {
			stroke-width: 1.5px;
			animation: hover-hex 1s linear infinite;
		}
	}

	polygon {
		fill: $secondary;
		stroke: $secondary;
		stroke-width: 0;
		stroke-dasharray: 3px 3px;
		stroke-linejoin: round;
	}

	tspan {
		fill: white;
		font-family: "League Spartan", sans-serif;
		font-weight: bold;
	}

	a.back {
		display: none;
	}
}

#hex {
	$vertical-offset: 14.722px + 1.702px;
	&-life-changing-events {
		transform: translate(17px, 16.192px + $vertical-offset);
	}

	&-passions {
		transform: translate(45px, 0px + $vertical-offset);
	}

	&-hobbies {
		transform: translate(73px, 16.192px + $vertical-offset);
	}

	&-filler-1 {
		transform: translate(45px, 32.384px + $vertical-offset);
	}

	&-family {
		transform: translate(17px, 48.576px + $vertical-offset);
	}

	&-big-picture {
		transform: translate(73px, 48.576px + $vertical-offset);
	}

	&-filler-2 {
		transform: translate(45px, 64.767px + $vertical-offset);
	}

	&-dreams-and-aspirations {
		transform: translate(17px, 80.92px + $vertical-offset);
	}

	&-struggles {
		transform: translate(45px, 97.151px + $vertical-offset);
	}

	&-responsibilities {
		transform: translate(73px, 80.92px + $vertical-offset);
	}
}

#title-circle {
	fill: white;
	transition: opacity $transition;
	opacity: 1;

	tspan {
		fill: black;
		font-family: Chewy, sans-serif;
	}
}

#site-1 {
	transform: translate(45px, 87px);
	transition: opacity $transition;
	opacity: 1;
	pointer-events: initial;

	tspan {
		fill: white;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
	}
}

#site-2 {
	transform: translate(45px, 109px);
	transition: opacity $transition;
	opacity: 0;
	pointer-events: none;

	tspan {
		fill: black;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
	}
}

#title:not(:target) ~ svg #hex-filler-1,
#title:not(:target) ~ svg #hex-filler-2,
#title:not(:target) ~ svg #site-1,
#title:not(:target) ~ svg #title-circle,
#title:target ~ svg #site-2 {
	opacity: 0;
	pointer-events: none;
}

.ul {
	opacity: 0;
	pointer-events: none;
	transition: opacity $transition;

	tspan {
		fill: black;
		font-family: "Open Sans", sans-serif;
		font-size: 4px;
		text-anchor: start;
	}

	.bullet tspan {
		font-size: 5.1347px;
	}
}

#ask-yourself {
	opacity: 0;
	pointer-events: none;
	transition: opacity $transition;
	transform: translate(57px,38px);

	tspan {
		fill: black;
		font-family: Chewy, sans-serif;
		font-size: 6px;
	}
}