---
slides:
  - Financial Aid
  - Academics
  - Student Body
  - Student Life
  - Distance
  - Location
  - Resources & Faculty
  - Where to Look
---
$primary: #CB6CE6;
$secondary: #5C0078;

{% include slideshow.scss %}