---
---
{% include sass_variables.scss %}

#apply {
	h2 {
		font-family: $Coolvetica;
		font-style: initial;
		font-size: 3em;
		text-align: center;
		margin: 0 auto .5em;
	}

	p {
		font-size: 1em;
	}

	img {
		height: initial;
		max-width: 100%;
		width: 20em;
		display: block;
		margin-bottom: 1em;
	}
	
	ul {
		font-family: $Helvetica;
		font-weight: 300;
		font-size: 1.2em;
	}

	#deadline {
		font-weight: bold;
		font-size: 1.2em;
		text-decoration: underline;
	}
}

#about {
	p:last-child {
		margin-bottom: 0;
	}
}

@media #{$mobile} {
	#apply {
		h2 {
			font-size: 2.5em;
		}
	}
}