---
---
{% include sass_variables.scss %}

#closed {
	h2 {
		font-family: $Coolvetica;
		font-style: initial;
		font-size: 3em;
		text-align: center;
		margin: 0 auto .5em;
	}

	figure img {
		border: 1px solid #AAA;
		max-width: 40rem;
		display: block;
		margin: auto;
		box-shadow: 0 .2em .3em transparentize(black, 0.47);
	}
}

#apply {
	h2 {
		font-family: $Coolvetica;
		font-style: initial;
		font-size: 3em;
		text-align: center;
		margin: 0 auto .5em;
	}

	p.footnote {
		font-size: 1em;
		margin: 1em 0 0;

		+ p.footnote {
			margin: 0 0 1em;
		}
	}

	img {
		height: initial;
		max-width: 100%;
		width: 20em;
		display: block;
		margin-bottom: 1em;
	}
	
	ul {
		font-family: $Helvetica;
		font-weight: 300;
		font-size: 1.2em;
	}

	#deadline {
		font-weight: bold;
		font-size: 1.2em;
		text-decoration: underline;
	}
}

#about {
	
}

@media #{$mobile} {
	#apply {
		h2 {
			font-size: 2.5em;
		}
	}
}