---
---
{% include sass_variables.scss %}

#students {
	
}

#fgf-scholarship {

}

#other-scholarships {

}

#actions-you-can-take-in-high-school {
	#chart {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		> div {
			display: flex;

			&:not(:first-child) {
				margin-top: 1em;
			}

			> div {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;
				background-color: scale-color($theme-color, $lightness: 5%);
				color: white;
				border-radius: .5em;
				padding: 1em .5em;

				h4 {
					text-align: center;
					font-family: $Coolvetica;
					font-weight: 500;
					font-size: 1.5em;
					margin: 0;
				}

				ul {
					$bullet-size: .85em;
					font-family: $Helvetica;
					font-size: 1em;
					padding-left: 0;

					li {
						padding: .3em 0 .3em 40px;
						list-style-type: none;
						position: relative;

						div {
							display: inline-block;
							margin-left: -40px;
							padding: 0 calc(20px - #{$bullet-size / 2}) 0 calc(20px - #{$bullet-size / 2});

							svg {
								width: $bullet-size;
							}
						}
					}
				}

				&:not(:first-child) {
					margin-left: 1em;
				}
			}
		}

		> div:nth-child(1) > div:nth-child(2),
		> div:nth-child(2) > div:nth-child(1) {
			background-color: $secondary-color;
			color: black;
		}
	}
}

#sat-act-practice-preparation {
	> ul {
		width: $content-width;
		max-width: 100%;
		margin: auto;
		box-sizing: border-box;

		h4 {
			font-family: $Cormorant;
			font-style: italic;
			font-size: 1.5em;
			margin: 0;
		}
	}
}

#build-your-professional-profile {
	
}

@media #{$mobile} {
	#actions-you-can-take-in-high-school {
		#chart {
			> div {
				flex-direction: column;

				> div:nth-child(1) {
					background-color: scale-color($theme-color, $lightness: 5%) !important;
					color: white !important;
				}

				> div:nth-child(2) {
					background-color: $secondary-color !important;
					color: black !important;
					margin-left: initial;
					margin-top: 1em;
				}
			}
		}
	}
}