---
title: Home
description: Find resources for first-gen college students and apply for our First Genertion First Scholarship!
layout: default
permalink: /
lang: en
lang-ref: home
es: /hogar
description-es: Encuentre recursos para estudiantes universitarios de primera generación y solicite nuestra beca de primera generación.
---
<div id="banner" class="withscript" translate>
	<p>Our scholarship application closes in</p>
	<h4 id="scholarship-time-left"></h4>
	<div class="button-center">
		<a href="{{ site.baseurl }}/students/scholarship" data-href-es="{{ site.baseurl }}/estudiantes/beca" target="_self" class="button">Apply Now!</a>
	</div>
</div>
<script type="text/javascript">!function(t,l,b){function f(d){if((d=~~((t-new Date())/1000))>0){l.textContent=d<300?"less than 5 minutes!":d<3600?~~(d/60)+" minutes!":d<7200?"1 hour!":d<86400?~~(d/3600)+" hours":d<172800?"1 day":~~(d/86400)+" days"}else b.style.display="none"}setInterval(f,1000),f()}(new Date("2020-09-02T06:59:59.999Z"),document.getElementById("scholarship-time-left"),document.getElementById("banner"))</script>
<section id="quick-links" translate>
	<div id="quick-links-container">
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="https://youtu.be/{{ site.youtube.latestvideo }}" target="_blank" rel="nofollow noopener">
					<div>
						<img src="https://img.youtube.com/vi/{{ site.youtube.latestvideo }}/0.jpg" alt="Thumbnail of our latest YouTube video" data-alt-es="Miniatura de nuestro último video de YouTube">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable" translate="no">YouTube</h4>
			<p class="editable">Check out our latest video! Jazmin discusses all the items she had to buy to move into her college dorm, and how quickly expenses can add up!</p>
			<a href="{{ site.youtube.url }}" target="_blank" rel="nofollow noopener" class="editable button">Subscribe</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/students/scholarship" data-href-es="{{ site.baseurl }}/estudiantes/beca" target="_self">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/apply.jpg" class="editable" alt="A hand filling out a scholarship application" data-alt-es="Una mano llenando una solicitud de beca" />
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Apply</h4>
			<p class="editable">The FGF Scholarship aims to financially assist first-generation and/or low-income high school students with college expenses. Check if you're eligible!</p>
			<a href="{{ site.baseurl }}/students/scholarship" data-href-es="{{ site.baseurl }}/estudiantes/beca" target="_self" class="editable button">Apply</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/donate" data-href-es="{{ site.baseurl }}/donar" target="_self">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/donate.jpg" class="editable" alt="A crowd of students in graduation gowns" data-alt-es="Una multitud de estudiantes en togas de graduación" />
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Donate</h4>
			<p class="editable">The First Generation First Fund will be used towards scholarships for students in underfunded schools who are entering their first year of college.</p>
			<a href="{{ site.baseurl }}/donate" data-href-es="{{ site.baseurl }}/donar" target="_self" class="editable button">Donate</a>
		</div>
	</div>
</section>
<section id="about-us" translate>
	<div class="text-then-img">
		<div>
			<h2 class="editable">About Us</h2>
			<p class="editable">FGF was founded by Jazmin Reyes in July 2020 as an undergraduate at Stanford University. Throughout her childhood, Jazmin saw her family and her community suffer through poverty, racism, and an unjust education system as a first-generation and low-income student herself. Our goal is to help other FGLI students in similar situations get better access to higher education. From the very early stages of daydreaming about college to getting accepted, FGF aims to ensure that no FGLI student is ever alone.</p>
		</div>
		<div>
			<div id="about">
				<div>
					<iframe title="First Generation First Welcome Video" data-title-es="Video de bienvenida de First Generation First" allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/Z73NQ43q5RI?ecver=1&amp;iv_load_policy=1&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" allowtransparency="true" frameborder="0"></iframe>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="contact-us" translate="no">
	<div>
		<div>
			<h2 class="editable" translate>Contact Us<div>
				<svg preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.772 303.508" role="img">
					<path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
				</svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span class="link">@{{ site.instagram.handle }}<span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span>&nbsp;<span class="link">@{{ site.twitter.handle }}<span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span>&nbsp;<span class="link">{{ site.youtube.name }}<span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span>&nbsp;<span class="link">{{ site.email }}<span></a></p>
			<p class="editable" translate>Let us know if you'd like to join our team!</p>
		</div>
		<div translate="">
			<form action="https://formspree.io/mqkyngyo" method="POST">
				<h2 class="editable">Send Us An Email</h2>
				<input type="text" name="name" placeholder="Name" data-placeholder-es="Nombre" required aria-label="Name" data-aria-label-es="Nombre" />
				<input type="email" name="_replyto" placeholder="Email" data-placeholder-es="Email" required aria-label="Email" data-aria-label-es="Email" />
				<textarea name="message" placeholder="Your Message" data-placeholder-es="Tu mensaje" required aria-label="Your Message" data-aria-label-es="Tu mensaje"></textarea>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</section>
<section id="follow-us" translate="no">
	<div class="button-center">
		<a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span><span class="editable" translate>Follow Us</span></a>
	</div>
	<div id="follow-tags" class="flex-row">
		<div>@{{ site.instagram.handle }}</div>
		<div class="editable">#firstgenfirst</div>
		<div class="editable">#IAmFLI</div>
	</div>
	{%- comment -%}
	If JavaScript is disabled, no lazy loading optimizations take place; just load the images directly in a <noscript> element.
	{%- endcomment -%}
	<noscript>
		<div id="follow-images" class="flex-row" translate>
			<img src="{{ site.baseurl }}/media/follow-us-1.jpg" alt="Jazmin and Caroline holding a &quot;FLI @ Stanford&quot; banner" data-alt-es="Jazmin y Caroline sosteniendo una pancarta &quot;FLI @ Stanford&quot;" />
			<img src="{{ site.baseurl }}/media/follow-us-2.jpg" alt="Two FGLI students posing for a picture in front of Stanford's Meyer Green space" data-alt-es="Dos estudiantes de primera generación posando para una foto frente al espacio Meyer Green de Stanford" />
			<img src="{{ site.baseurl }}/media/follow-us-3.jpg" alt="A group of many FGLI students posing for a group picture holding multiple &quot;FLI @ Stanford&quot; banners" data-alt-es="Un grupo de muchos estudiantes de primera generación posando para una foto grupal con varios carteles &quot;FLI @ Stanford&quot;" />
		</div>
	</noscript>
	{%- comment -%}
	If JavaScript is enabled, these images are lazy loaded using lazysizes to make the page a tiny bit faster to load.
	{%- endcomment -%}
	<div id="follow-images" class="flex-row withscript" translate>
		<img data-src="{{ site.baseurl }}/media/follow-us-1.jpg" class="lazyload" alt="Jazmin and Caroline holding a &quot;FLI @ Stanford&quot; banner" data-alt-es="Jazmin y Caroline sosteniendo una pancarta &quot;FLI @ Stanford&quot;" />
		<img data-src="{{ site.baseurl }}/media/follow-us-2.jpg" class="lazyload" alt="Two FGLI students posing for a picture in front of Stanford's Meyer Green space" data-alt-es="Dos estudiantes de primera generación posando para una foto frente al espacio Meyer Green de Stanford" />
		<img data-src="{{ site.baseurl }}/media/follow-us-3.jpg" class="lazyload" alt="A group of many FGLI students posing for a group picture holding multiple &quot;FLI @ Stanford&quot; banners" data-alt-es="Un grupo de muchos estudiantes de primera generación posando para una foto grupal con varios carteles &quot;FLI @ Stanford&quot;" />
	</div>
</section>