---
title: Home
description: Find resources for first-gen college students and apply for our First Generation First Scholarship!
layout: default
permalink: /
lang: en
lang-ref: home
es:
  title: Hogar
  description: Encuentre recursos para estudiantes universitarios de primera generación y solicite nuestra beca de primera generación.
  permalink: /hogar
  redirect-from: null
redirect-from: /home
youtube: 7NDr6Z8YOGg
---
<div id="email-reminder">
	<form method="POST" action="https://us-central1-cogent-anvil-290321.cloudfunctions.net/notification-signup" id="er-form" enctype="multipart/form-data">
		<p id="er-info" translate>Want to <strong>get notified when our 2021 scholarship application opens</strong>?<br>Fill out your info below and we'll send you a reminder email later!</p>
		<p id="er-info-extra" translate>Please use a permanent email where we'll be able to reach you in the future (school emails are usually deleted after graduating).</p>
		<div id="er-inputs" translate>
			<input type="hidden" name="er-lang" id="er-lang" value="{{ page.lang }}">
			<input type="hidden" name="er-referrer" id="er-referrer" value="{{ page.permalink }}">
			<input type="text" name="er-name" id="er-name" placeholder="Name" data-placeholder-es="Nombre" aria-label="Name" data-aria-label-es="Nombre" required>
			<input type="email" name="er-email" id="er-email" placeholder="Email" data-placeholder-es="Email" aria-label="Email" data-aria-label-es="Email" required>
		</div>
		<div id="er-buttons" translate>
			<button type="submit" id="er-submit">Submit</button>
			<div id="er-submit-indicator">
				<span>Submit</span>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<p id="er-error">There was a problem submitting your info. Please try again or <a class="link" href="mailto:info@firstgenfirst.org?cc=christian%40firstgenfirst.org&subject=I%20want%20to%20be%20notified&body=I'd%20like%20to%20be%20notified%20when%20the%202021%20scholarship%20application%20opens.%0AMy%20name%20is%3A%20">send us an email</a>.</p>
			<button type="button" id="er-no">No thanks</button>
		</div>
	</form>
	<script type="text/javascript">
		document.getElementById("er-no").addEventListener("click",function(){document.getElementById("email-reminder").style.display="none"});
	</script>
	<script type="text/javascript">
		document.getElementById("er-form").addEventListener("submit", function(e) {
			e.preventDefault();
			e.stopPropagation();

			if (this.classList.contains("submitted")) {
				return;
			}

			var form = this;
			var name = document.getElementById("er-name");
			var email = document.getElementById("er-email");
			var lang = document.getElementById("er-lang");
			var referrer = document.getElementById("er-referrer");
			var submit = document.getElementById("er-submit");

			form.className = "submitting";

			var request = {
				"er-name": name.value,
				"er-email": email.value,
				"er-lang": lang.value,
				"er-referrer": referrer.value
			};

			var xhr = new XMLHttpRequest();
			xhr.open("POST", "https://us-central1-cogent-anvil-290321.cloudfunctions.net/notification-signup");
			xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
			xhr.setRequestHeader("Content-Type", "application/json");

			xhr.addEventListener("readystatechange", function(e) {
				if (this.readyState == 4) {
					if (Math.floor(this.status / 100) == 2) {
						submit.textContent = "\u2713";
						form.className = "submitted";
						setTimeout(function() {
							form.style.display = "none";
						}, 2500);
					} else {
						form.className = "errored";
					}
				}
			});

			xhr.send(JSON.stringify(request));
		});
	</script>
</div>
<section id="quick-links" translate>
	<div id="quick-links-container">
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="https://youtu.be/{{ page.youtube }}" target="_blank" rel="nofollow noopener">
					<div>
						<img src="https://img.youtube.com/vi/{{ page.youtube }}/0.jpg" alt="Thumbnail of our latest YouTube video" data-alt-es="Miniatura de nuestro último video de YouTube">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable" translate="no">YouTube</h4>
			<p class="editable"><!-- BEGIN YouTube Video Description -->Jazmin goes over the top 5 most important parts of any college application! Find out what admissions officers look for and how to get there!<!-- END YouTube Video Description --></p>
			<a href="{{ site.youtube.url }}" target="_blank" rel="nofollow noopener" class="editable button">Subscribe</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="/students/applyingtocollege" data-href-es="/estudiantes/aplicandoalauniversidad" rel="nofollow noopener">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/apply.jpg" class="editable" alt="A hand filling out a scholarship application" data-alt-es="Una mano llenando una solicitud de beca" />
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Tips for Applying</h4>
			<p class="editable">College application season is here! Check out our tips for writing a personal statement and asking for a letter of rec, and check out <a href="{{ site.youtube.url }}" target="_blank" rel="nofollow noopener" class="link">our YouTube channel</a> for more!</p>
			<a href="/students/applyingtocollege/" data-href-es="/estudiantes/aplicandoalauniversidad" rel="nofollow noopener" class="editable button">Check It Out</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/donate" data-href-es="{{ site.baseurl }}/donar" target="_self">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/donate.jpg" class="editable" alt="A crowd of students in graduation gowns" data-alt-es="Una multitud de estudiantes en togas de graduación" />
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Donate</h4>
			<p class="editable">The First Generation First Fund will be used towards scholarships for students in underfunded schools who are entering their first year of college.</p>
			<a href="{{ site.baseurl }}/donate" data-href-es="{{ site.baseurl }}/donar" target="_self" class="editable button">Donate</a>
		</div>
	</div>
</section>
<section id="about-us" translate>
	<div class="text-then-img">
		<div>
			<h2 class="editable">About Us</h2>
			<p class="editable">FGF was founded by Jazmin Reyes in July 2020 as an undergraduate at Stanford University. Throughout her childhood, Jazmin saw her family and her community suffer through poverty, racism, and an unjust education system as a first-generation and low-income student herself. Our goal is to help other FGLI students in similar situations get better access to higher education. From the very early stages of daydreaming about college to getting accepted, FGF aims to ensure that no FGLI student is ever alone.</p>
		</div>
		<div>
			<div id="about">
				<div>
					<iframe title="First Generation First Welcome Video" data-title-es="Video de bienvenida de First Generation First" allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/Z73NQ43q5RI?ecver=1&amp;iv_load_policy=1&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" allowtransparency="true" frameborder="0"></iframe>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% include contact-us.html %}
<section id="follow-us" translate="no">
	<div class="button-center">
		<a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span><span class="editable" translate>Follow Us</span></a>
	</div>
	<div id="follow-tags" class="flex-row">
		<div>@{{ site.instagram.handle }}</div>
		<div class="editable">#firstgenfirst</div>
		<div class="editable">#IAmFLI</div>
	</div>
	{%- comment -%}
	If JavaScript is disabled, no lazy loading optimizations take place; just load the images directly in a <noscript> element.
	{%- endcomment -%}
	<noscript>
		<div id="follow-images" class="flex-row" translate>
			<img src="{{ site.baseurl }}/media/follow-us-1.jpg" alt="Jazmin and Caroline holding a &quot;FLI @ Stanford&quot; banner" data-alt-es="Jazmin y Caroline sosteniendo una pancarta &quot;FLI @ Stanford&quot;" />
			<img src="{{ site.baseurl }}/media/follow-us-2.jpg" alt="Two FGLI students posing for a picture in front of Stanford's Meyer Green space" data-alt-es="Dos estudiantes de primera generación posando para una foto frente al espacio Meyer Green de Stanford" />
			<img src="{{ site.baseurl }}/media/follow-us-3.jpg" alt="A group of many FGLI students posing for a group picture holding multiple &quot;FLI @ Stanford&quot; banners" data-alt-es="Un grupo de muchos estudiantes de primera generación posando para una foto grupal con varios carteles &quot;FLI @ Stanford&quot;" />
		</div>
	</noscript>
	{%- comment -%}
	If JavaScript is enabled, these images are lazy loaded using lazysizes to make the page a tiny bit faster to load.
	{%- endcomment -%}
	<div id="follow-images" class="flex-row withscript" translate>
		<img data-src="{{ site.baseurl }}/media/follow-us-1.jpg" class="lazyload" alt="Jazmin and Caroline holding a &quot;FLI @ Stanford&quot; banner" data-alt-es="Jazmin y Caroline sosteniendo una pancarta &quot;FLI @ Stanford&quot;" />
		<img data-src="{{ site.baseurl }}/media/follow-us-2.jpg" class="lazyload" alt="Two FGLI students posing for a picture in front of Stanford's Meyer Green space" data-alt-es="Dos estudiantes de primera generación posando para una foto frente al espacio Meyer Green de Stanford" />
		<img data-src="{{ site.baseurl }}/media/follow-us-3.jpg" class="lazyload" alt="A group of many FGLI students posing for a group picture holding multiple &quot;FLI @ Stanford&quot; banners" data-alt-es="Un grupo de muchos estudiantes de primera generación posando para una foto grupal con varios carteles &quot;FLI @ Stanford&quot;" />
	</div>
</section>