---
title: Home
layout: default
---
<section id="quick-links">
	<div id="quick-links-container">
		<div class="quick-link">
			<div>
				<a href="https://youtu.be/{{ site.youtube.latestvideo }}" target="_blank" rel="nofollow noopener">
					<div style="background-image:url('https://img.youtube.com/vi/{{ site.youtube.latestvideo }}/0.jpg')">
						<div></div>
					</div>
				</a>
			</div>
			<h3 class="editable">YouTube</h3>
			<p class="editable">Check out our latest video by Jazmin! Are YOU first-generation? This is the first of FGF's Terms Explained segment on YouTube!</p>
			<a href="{{ site.youtube.url }}" target="_blank" rel="nofollow noopener" class="editable button">Subscribe</a>
		</div>
		<div class="quick-link">
			<div>
				<a href="{{ site.baseurl }}/scholarship" target="self">
					<div style="background-image:url('{{ site.baseurl }}/media/apply.jpg')">
						<div></div>
					</div>
				</a>
			</div>
			<h3 class="editable">Apply</h3>
			<p class="editable">The FGF Scholarship aims to financially assist first-generation and/or low-income high school students with college expenses. Check if you're eligible!</p>
			<a href="{{ site.baseurl }}/scholarship" target="_self" class="editable button">Apply</a>
		</div>
		<div class="quick-link">
			<div>
				<a href="{{ site.baseurl }}/donate" target="self">
					<div style="background-image:url('{{ site.baseurl }}/media/donate.jpg')">
						<div></div>
					</div>
				</a>
			</div>
			<h3 class="editable">Donate</h3>
			<p class="editable">The First Generation First Fund will be used towards scholarships for students in underfunded schools nationally, but primarily in the Los Angeles area.</p>
			<a href="{{ site.baseurl }}/donate" target="_self" class="editable button">Donate</a>
		</div>
	</div>
	<div id="quick-btns-container">
		<div class="quick-btn">
			<a href="{{ site.baseurl }}/donate" target="_self" class="editable button">Subscribe</a>
		</div>
		<div class="quick-btn">
			<a href="{{ site.baseurl }}/apply" target="_self" class="editable button">Apply</a>
		</div>
		<div class="quick-btn">
			<a href="{{ site.baseurl }}/donate" target="_self" class="editable button">Donate</a>
		</div>
	</div>
</section>
<section id="about-us">
	<div>
		<div>
			<h2 class="editable">About Us</h2>
			<p class="editable">FGF was founded by Jazmin Reyes in July 2020 as an undergraduate at Stanford University. Throughout her childhood, Jazmin saw her family and her community suffer through poverty, racism, and an unjust education system as a first-generation and low-income student herself. Our goal is to help other FGLI students in similar situations get better access to higher education. From the very early stages of daydreaming about college to getting accepted, FGF aims to ensure that no FGLI student is ever alone.</p>
		</div>
		<div>
			<div id="about">
				<video controls preload="auto" poster="{{ site.baseurl }}/media/about.jpg">
					<source src="{{ site.baseurl }}/media/about.webm" type="video/webm">
					<source src="{{ site.baseurl }}/media/about.mp4" type="video/mp4">
					<source src="{{ site.baseurl }}/media/about.ogv" type="video/ogg">
				</video>
			</div>
		</div>
	</div>
</section>
<section id="our-team">
	<h2 class="editable">Our Team</h2>
	<div id="team-members">
		<div class="team-member">
			<img src="{{ site.baseurl }}/media/jazmin.jpg" alt="Jazmin Reyes" class="editable">
			<div>
				<div><span class="editable">Jazmin Reyes</span><span> &ndash; <span class="editable">Founder</span></span></div>
				<p class="editable">Hello! My name is Jazmin Reyes and I founded FGF in hopes to support first-generation and low-income students like myself through scholarships and sufficient resources. My vision is to lead more students into college by providing helpful insights that I wished someone had told me and tips I have learned through my own experiences in high school and college.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="{{ site.baseurl }}/media/caroline.jpg" alt="Caroline Tran" class="editable">
			<div>
				<div><span class="editable">Caroline Tran</span><span> &ndash; <span class="editable">Design</span></span></div>
				<p class="editable">Hi! I'm Caroline Tran and I am an undergraduate at Stanford University from Seattle, WA. As a first-generation college student, I've been diving head first into every new experience, so I know how it feels to be overwhlemed and lost. I joined FGF in hopes of helping other first-gen students navigate the high school to college transition while using my passion for mentorship and art.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="{{ site.baseurl }}/media/alan.jpg" alt="Alan Gallardo" class="editable">
			<div>
				<div><span class="editable">Alan Gallardo</span><span> &ndash; <span class="editable">Marketing</span></span></div>
				<p class="editable">Hey guys! I'm Alan and I am a current undergraduate at UCLA studying Communications and Film. I joined the FGF team because I also grew up as a first-generation and low-income student from the city of Bell, CA and I want to help reach as many students as possible by using my experience in film and marketing.</p>
			</div>
		</div>
	</div>
</section>
<section id="contact-us">
	<div>
		<div>
			<h2 class="editable">Contact Us<div>
				<svg preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.772 303.508" role="img">
					<path fill="{{ site.secondarycolor }}" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
				</svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span>@{{ site.instagram.handle }}<span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span>&nbsp;<span>@{{ site.twitter.handle }}<span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span>&nbsp;<span>{{ site.youtube.name }}<span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span>&nbsp;<span>{{ site.email }}<span></a></p>
			<p class="editable">Let us know if you'd like to join our team!</p>
		</div>
		<div>
			<form action="https://formspree.io/xqkynqvb" method="POST">
				<h3 class="editable">Send Us An Email</h3>
				<input type="text" name="name" placeholder="Name"/>
				<input type="email" name="_replyto" placeholder="Email" />
				<textarea name="message" placeholder="Your Message"></textarea>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</section>
<section id="follow-us">
	<div>
		<a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span class="editable">Follow Us</span></a>
	</div>
	<div>
		<div>@{{ site.instagram.handle }}</div>
		<div class="editable">#firstgenfirst</div>
		<div class="editable">#IAmFLI</div>
	</div>
	<div>
		<img src="{{ site.baseurl }}/media/follow-us-1.jpg" class="editable" />
		<img src="{{ site.baseurl }}/media/follow-us-2.jpg" class="editable" />
		<img src="{{ site.baseurl }}/media/follow-us-3.jpg" class="editable" />
	</div>
</section>