---
title: Home
layout: default
lang: en
lang-ref: home
es: hogar
---
<section id="quick-links" translate>
	<div id="quick-links-container">
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="https://youtu.be/{{ site.youtube.latestvideo }}" target="_blank" rel="nofollow noopener">
					<div style="background-image:url('https://img.youtube.com/vi/{{ site.youtube.latestvideo }}/0.jpg')">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable" translate="no">YouTube</h4>
			<p class="editable">Check out our latest video by Jazmin! She goes over her fall quarter classes at Stanford, including her advice for taking on college courses.</p>
			<a href="{{ site.youtube.url }}" target="_blank" rel="nofollow noopener" class="editable button">Subscribe</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/scholarship" data-href-es="{{ site.baseurl }}/beca" target="_self">
					<div style="background-image:url('{{ site.baseurl }}/media/apply.jpg')">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Apply</h4>
			<p class="editable">The FGF Scholarship aims to financially assist first-generation and/or low-income high school students with college expenses. Check if you're eligible!</p>
			<a href="{{ site.baseurl }}/scholarship" data-href-es="{{ site.baseurl }}/beca" target="_self" class="editable button">Apply</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/donate" data-href-es="{{ site.baseurl }}/donar" target="self">
					<div style="background-image:url('{{ site.baseurl }}/media/donate.jpg')">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Donate</h4>
			<p class="editable">The First Generation First Fund will be used towards scholarships for students in underfunded schools nationally, but primarily in the Los Angeles area.</p>
			<a href="{{ site.baseurl }}/donate" data-href-es="{{ site.baseurl }}/donar" target="_self" class="editable button">Donate</a>
		</div>
	</div>
	<div id="quick-btns-container">
		<div class="quick-btn">
			<a href="{{ site.youtube.url }}" target="_self" class="editable button">Subscribe</a>
		</div>
		<div class="quick-btn">
			<a href="{{ site.baseurl }}/scholarship" data-href-es="{{ site.baseurl }}/beca" target="_self" class="editable button">Apply</a>
		</div>
		<div class="quick-btn">
			<a href="{{ site.baseurl }}/donate" data-href-es="{{ site.baseurl }}/donar" target="_self" class="editable button">Donate</a>
		</div>
	</div>
</section>
<section id="about-us" translate>
	<div class="text-then-img">
		<div>
			<h2 class="editable">About Us</h2>
			<p class="editable">FGF was founded by Jazmin Reyes in July 2020 as an undergraduate at Stanford University. Throughout her childhood, Jazmin saw her family and her community suffer through poverty, racism, and an unjust education system as a first-generation and low-income student herself. Our goal is to help other FGLI students in similar situations get better access to higher education. From the very early stages of daydreaming about college to getting accepted, FGF aims to ensure that no FGLI student is ever alone.</p>
		</div>
		<div>
			<div id="about">
				<div>
					<iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/Z73NQ43q5RI?ecver=1&amp;iv_load_policy=1&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" allowtransparency="true" frameborder="0"></iframe>
					<!--<video controls preload="auto" poster="{{ site.baseurl }}/media/about.jpg">
						<source src="{{ site.baseurl }}/media/about.webm" type="video/webm">
						<source src="{{ site.baseurl }}/media/about.mp4" type="video/mp4">
						<source src="{{ site.baseurl }}/media/about.ogv" type="video/ogg">
					</video>-->
					<div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="contact-us" translate="no">
	<div>
		<div>
			<h2 class="editable" translate>Contact Us<div>
				<svg preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.772 303.508" role="img">
					<path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
				</svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span class="link">@{{ site.instagram.handle }}<span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span>&nbsp;<span class="link">@{{ site.twitter.handle }}<span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span>&nbsp;<span class="link">{{ site.youtube.name }}<span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span>&nbsp;<span class="link">{{ site.email }}<span></a></p>
			<p class="editable" translate>Let us know if you'd like to join our team!</p>
		</div>
		<div translate="">
			<form action="https://formspree.io/mqkyngyo" method="POST">
				<h4 class="editable">Send Us An Email</h4>
				<input type="text" name="name" placeholder="Name" required />
				<input type="email" name="_replyto" placeholder="Email" required />
				<textarea name="message" placeholder="Your Message" required></textarea>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</section>
<section id="follow-us" translate="no">
	<div class="button-center">
		<a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span class="editable" translate>Follow Us</span></a>
	</div>
	<div id="follow-tags" class="flex-row">
		<div>@{{ site.instagram.handle }}</div>
		<div class="editable">#firstgenfirst</div>
		<div class="editable">#IAmFLI</div>
	</div>
	<div id="follow-images" class="flex-row">
		<img src="{{ site.baseurl }}/media/follow-us-1.jpg" class="editable" />
		<img src="{{ site.baseurl }}/media/follow-us-2.jpg" class="editable" />
		<img src="{{ site.baseurl }}/media/follow-us-3.jpg" class="editable" />
	</div>
</section>