<link href="{{ site.baseurl }}/css/contact-us.snippet.css" rel="stylesheet" type="text/css">
<section id="contact-us" translate="no">
	<div>
		{% if page.lang == "en" %}
		<div>
			<h2 class="editable" translate>{{ include.header | default: "Contact Us" }}<div>
				<svg preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.772 303.508" role="img">
					<path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
				</svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span class="link">@{{ site.instagram.handle }}<span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span>&nbsp;<span class="link">@{{ site.twitter.handle }}<span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span>&nbsp;<span class="link">{{ site.youtube.name }}<span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span>&nbsp;<span class="link">{{ site.email }}<span></a></p>
			<p class="editable" translate>Let us know if you'd like to join our team!</p>
		</div>
		<div translate="">
			<form action="https://us-west2-cogent-anvil-290321.cloudfunctions.net/contact-us-emailer" method="POST" id="contact-us-form">
				<h2 class="editable">Send Us An Email</h2>
				<input type="hidden" name="lang" value="en" id="contact-us-lang"/>
				<input type="hidden" name="path" value="{{ page.permalink }}" id="contact-us-path"/>
				<input type="text" name="name" placeholder="Name" required aria-label="Name" id="contact-us-name"/>
				<input type="email" name="email" placeholder="Email" required aria-label="Email" id="contact-us-email"/>
				<textarea name="message" placeholder="Your Message" required aria-label="Your Message" id="contact-us-message"></textarea>
				<button type="submit" id="contact-us-submit">Send</button>
				<div id="contact-us-indicator">
					<span>Send</span>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div id="contact-us-err">There was a problem sending your email. Please <button type="submit">try again</button>.</div>
			</form>
		</div>
		{% elsif page.lang == "es" %}
		<div>
			<h2 class="editable" translate>{{ include.header-es | default: "Contáctenos" }}<div>
				<svg preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.772 303.508" role="img">
					<path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
				</svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span class="link">@{{ site.instagram.handle }}<span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span>&nbsp;<span class="link">@{{ site.twitter.handle }}<span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span>&nbsp;<span class="link">{{ site.youtube.name }}<span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span>&nbsp;<span class="link">{{ site.email }}<span></a></p>
			<p class="editable" translate>¡Háganos saber si desea unirse a nuestro equipo!</p>
		</div>
		<div translate>
			<form action="https://us-west2-cogent-anvil-290321.cloudfunctions.net/contact-us-emailer" method="POST" id="contact-us-form">
				<h2 class="editable">Envianos un email</h2>
				<input type="hidden" name="lang" value="es" id="contact-us-lang"/>
				<input type="hidden" name="path" value="{{ page.permalink }}" id="contact-us-path"/>
				<input type="text" name="name" placeholder="Nombre" required aria-label="Nombre" id="contact-us-name"/>
				<input type="email" name="email" placeholder="Email" required aria-label="Email" id="contact-us-email"/>
				<textarea name="message" placeholder="Tu mensaje" required aria-label="Tu mensaje" id="contact-us-message"></textarea>
				<button type="submit" id="contact-us-submit">Enviar</button>
				<div id="contact-us-indicator">
					<span>Enviar</span>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div id="contact-us-err">Hubo un problema al enviar su correo electrónico. <button type="submit">Inténtalo de nuevo</button>.</div>
			</form>
		</div>
		{% endif %}
	</div>
</section>
<script type="text/javascript">
	// Makes the contact form stay on the current page without redirecting as long as JavaScript is enabled.
	// If disabled, the form will redirect to the form's url and then redirect back to a confirmation page.
	document.getElementById("contact-us-form").addEventListener("submit", function(e) {
		e.preventDefault();
		e.stopPropagation();

		var form = this;
		var name = document.getElementById("contact-us-name");
		var email = document.getElementById("contact-us-email");
		var message = document.getElementById("contact-us-message");
		var lang = document.getElementById("contact-us-lang");
		var path = document.getElementById("contact-us-path");
		var submit = document.getElementById("contact-us-submit");

		form.classList.add("submitting");
		form.classList.remove("errored");

		var request = {
			name: name.value,
			email: email.value,
			message: message.value,
			lang: lang.value,
			path: path.value
		};

		var xhr = new XMLHttpRequest();
		xhr.open("POST", "https://us-west2-cogent-anvil-290321.cloudfunctions.net/contact-us-emailer");
		xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.addEventListener("readystatechange", function(e) {
			if (this.readyState == 4) {
				form.classList.remove("submitting");
				if (this.status == 200) {
					message.value = "";
					submit.textContent = "\u2713";
					form.classList.add("submitted");
					setTimeout(function() {
						form.classList.remove("submitted");
						submit.textContent = {% if page.lang == "en" %}"Send"{% elsif page.lang == "es" %}"Enviar"{% endif %};
					}, 2500);
				} else {
					form.classList.add("errored");
				}
			}
		});

		xhr.send(JSON.stringify(request));
	});
</script>