---
title: Students
description: Find resources for first-generation college students, whether you're in high school, applying to college, or already enrolled.
layout: default
permalink: /students
lang: en
lang-ref: students
es: /estudiantes
description-es: Encuentre recursos para estudiantes universitarios de primera generación, ya sea que esté en la escuela secundaria, solicite ingreso a la universidad o ya esté inscrito.
---
<section id="students" translate>
	<div>
		<h2 class="editable">Students</h2>
		<p class="editable">This page consists of <strong>several resources</strong> that have <strong>proven to be effective</strong> for other students in the past. In no way should these resources serve as guidelines or rubrics for your personal high school and college plans. All concepts and tips are simply suggestions for easy ways to get through many phases that FGLI students typically find challenging.</p>
	</div>
	<section id="fgf-scholarship">
		<div>
			<h3 class="editable" data-translate-override-es="Beca de FGF">FGF Scholarship</h3>
			<p class="editable">The FGF Scholarship aims to financially assist first-generation and/or low-income students who are entering college for the very first time. We will be rewarding at least one <strong data-translate-override-es="beca de $500">$500 scholarship</strong> but we may pick <strong>multiple applicants</strong> (depends how much money we raise)!</p>
			<p class="editable" data-translate-override-es="Nota: Queremos ayudar a aquellos <strong>que más lo necesiten</strong> y no necesariamente al &ldquo;mejor&rdquo; solicitante, ¡así que solicítelo!">Note: We want to help those <strong>who may need it most</strong> and not necessarily the &ldquo;best&rdquo; applicant, so please apply!</p>
		</div>
		<div class="button-center">
			<a href="{{ site.baseurl }}/scholarship" data-href-es="{{ site.baseurl }}/beca" target="_self" class="editable button">More Details</a>
		</div>
	</section>
	<section id="other-scholarships">
		<div>
			<h3 class="editable">Other Scholarships</h3>
			<p class="editable">We know your senior year of high school is filled with college applications, schoolwork, extracurriculars and more, so we decided to put <strong>all potential scholarships in one place</strong> to help you save time on doing the research yourself! We focused on national and local scholarships that also aim to <strong>assist first-generation and/or low-income students</strong> but some may have additional (or fewer) requirements. FGF is neither sponsored by any of these scholarships/organizations nor paid to promote them.</p>
		</div>
		<div class="button-center">
			<a href="https://docs.google.com/spreadsheets/d/1uTAV_ZsEKizX9_d07nbYoR0bXv8buwHOsQIWBweNyeQ/edit?usp=sharing" target="_blank" rel="nofollow noopener" class="editable button">More Details</a>
		</div>
	</section>
	<section id="actions-you-can-take-in-high-school">
		<div>
			<h3 class="editable">Actions You Can Take in High School</h3>
			<p class="editable">Getting into college starts way before you actually start to apply. From course enrollment to after-school extracurriculars, students need to build their college applications when they <strong>first enter high school</strong>. Below are some common actions that typically help with having a <strong>strong application</strong>.</p>
		</div>
		<div id="chart">
			<div>
				<div>
					<h4 class="editable" data-translate-override-es="Noveno Grado">Ninth Grade</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Get good grades!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Find friends with similar goals</strong> who will support you and vice versa.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Get involved in some clubs</strong> at school (or outside!) by simply attending meetings and searching which ones will help you explore your interests.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Introduce yourself</strong> to your teachers and start a professional connection so that they are willing to help you in the future.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Start a chart where you will <strong>write down all your activities</strong>, volunteer hours, etc. so that you can keep track of everything!</li>
					</ul>
				</div>
				<div>
					<h4 class="editable" data-translate-override-es="Décimo Grado">Tenth Grade</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Continue being involved</strong> with your clubs and extracurriculars. Don't be afraid to add/drop activities for what you want to invest time in the most.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Keep up your grades!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Increase the difficulty of your classes by taking <strong>Honors, AP, and/or IB</strong> classes if your high school has them available.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Take the <strong>PSAT</strong> for the first time and start looking into <strong><a href="#sat-act-practice-preparation" class="link">SAT prep</a></strong>.</li>
					</ul>
				</div>
			</div>
			<div>
				<div>
					<h4 class="editable" data-translate-override-es="Onceavo Grado">Eleventh Grade</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Start running for <strong>leadership positions</strong> in your extracurriculars (this can start as early as freshman year but very common in junior/senior year).</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Continue to <strong>increase your course difficulty</strong> and make sure your grades are up!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Take the <strong>SAT/ACT/AP tests</strong> and aim for a high score!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Look into <strong><a href="https://collegereadiness.collegeboard.org/sat-subject-tests" target="_blank" rel="nofollow noopener" class="link">SAT Subject Tests</a></strong> to strengthen your application.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Start <strong>building your professional profile</strong> (LinkedIn, Reéumé, etc.).</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Your <strong>junior year teachers</strong> will potentially be writing your letters of recommendation, so make sure they <strong>get to know the best sides of you</strong>!</li>
					</ul>
				</div>
				<div>
					<h4 class="editable" data-translate-override-es="Duodécimo Grado">Twelfth Grade</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Take the <strong>SAT/ACT again</strong> if you're able to, and aim for an even higher score than before!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Make sure you continue taking rigorous courses (<strong>colleges will still look at first semester grades</strong>)!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Research and finally start <strong>applying to colleges!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Make sure your <strong>application is strong</strong> using our tips and tricks!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Ace your college interviews!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Get accepted and <strong>start preparing</strong> for this new chapter of life!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Life doesn't end</strong> with college rejections and there are several life paths you can take. :)</li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<p class="editable">Your activities do not have to start and end when you are in school. Make sure to <strong>fill your summers with fun activities</strong> such as volunteering, getting a job, or researching scholarships! <strong>Check out these YouTube videos</strong> for stuff you should do in the summers in between your school year!</p>
		</div>
		<div class="button-center">
			<a target="_blank" class="editable button">Coming Soon!</a>
		</div>
	</section>
	<section id="sat-act-practice-preparation">
		<div>
			<h3 class="editable" data-translate-override-es="SAT/ACT práctica &amp; preparación">SAT/ACT Practice &amp; Preparation</h3>
			<p class="editable">The SAT and the ACT are standardized tests taken by almost every student in the U.S. Although many universities require you to submit your SAT/ACT scores, plenty of colleges are going SAT-optional. Regardless, <strong>these tests are very important</strong> to your college application and <strong>we want to help you get the highest possible score!</strong> <strong>Try these resources for SAT/ACT prep!</strong> FGF is neither sponsored by any of these companies/organizations nor paid to promote them.</p>
		</div>
		<ul>
			<li>
				<h4 class="editable"><a href="https://www.collegematchla.org/" target="_blank" rel="nofollow noopener" class="link" data-translate-override-es="College Match &ndash; Gratis">College Match &ndash; Free</a></h4>
				<p class="editable">CM is a non-profit organization based in the Los Angeles area that aids first-generation and low-income students with weekly SAT prep with personal tutors, one-on-one college counselors, and even a free trip to several East Coast colleges! Ask your college counselor if your school is partnered with College Match and ask how you can get into this free program!​</p>
			</li>
			<li>
				<h4 class="editable"><a href="http://janaetutoring.com/" target="_blank" rel="nofollow noopener" class="link" data-translate-override-es="Janae&rsquo;s Tutoring &ndash; Suscripción Mensual">Janae&rsquo;s Tutoring &ndash; Monthly Subscription​</a></h4>
				<p class="editable">Janae, a current undergraduate at Stanford University, ​started her business when she was 15 by combining her passion for education and entrepreneurship to create a tutoring company. She and her team would love to help you with one-on-one tutoring to raise your SAT, ACT, and AP Scores!</p>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.khanacademy.org/test-prep/sat" target="_blank" rel="nofollow noopener" class="link" data-translate-override-es="Khan Academy &ndash; Gratis">Khan Academy &ndash; Free</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://learn.khanacademy.org/osp-landing-page/?utm_source=cbcta-satprl-sy-2020-21&utm_medium=cb418-xt&utm_campaign=osp-lp" target="_blank" rel="nofollow noopener" class="link" data-translate-override-es="College Board &ndash; Gratis">College Board &ndash; Free</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.varsitytutors.com/sat-practice-tests" target="_blank" rel="nofollow noopener" class="link" data-translate-override-es="Varsity Tutors &ndash; Gratis">Varsity Tutors &ndash; Free</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.testprepreview.com/sat_practice.htm" target="_blank" rel="nofollow noopener" class="link" data-translate-override-es="Test Prep Review &ndash; Gratis">Test Prep Review &ndash; Free​</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.princetonreview.com/college/free-sat-practice-test#!practice" target="_blank" rel="nofollow noopener" class="link" data-translate-override-es="The Princeton Review &ndash; Gratis... Parcialmente">The Princeton Review &ndash; Free... Partially</a></h4>
			</li>
		</ul>
	</section>
	<section id="build-your-professional-profile">
		<div>
			<h3 class="editable">Build Your Professional Profile</h3>
			<p class="editable">We know it's scary entering the professional world. FGF wants to <strong>help you look good</strong> not only for colleges but also for <strong>potential employers and networks</strong>! Check out our checklist for things you can do to start building your professional profile!</p>
		</div>
		<div class="button-center">
			<a target="_blank" class="editable button">Coming Soon!</a>
		</div>
	</section>
</section>