---
title: "Sobre Nosotros"
layout: "default.es"
permalink: "/sobrenosotros.html"
lang: "es"
lang-ref: "aboutus"
en: "aboutus"
---
<section id="about-us" translate>
	<div class="text-then-img">
		<div>
			<h2 class="editable">Sobre nosotros</h2>
			<p class="editable">FGF fue fundada por Jazmin Reyes en julio de 2020 como estudiante universitario en la Universidad de Stanford. A lo largo de su infancia, Jazmin vio a su familia y a su comunidad sufrir por la pobreza, el racismo y un sistema educativo injusto como estudiante de primera generación y de bajos ingresos. Nuestro objetivo es ayudar a otros estudiantes de FGLI en situaciones similares a obtener un mejor acceso a la educación superior. Desde las primeras etapas de soñar despierto sobre la universidad hasta ser aceptado, FGF tiene como objetivo garantizar que ningún estudiante de FGLI esté solo.</p>
		</div>
		<div>
			<div id="hi-flex">
				<div></div>
				<div translate="no">Hi!</div>
				<div></div>
			</div>
			<img src="{{ site.baseurl }}/media/aboutus.jpg" class="editable">
		</div>
	</div>
</section>
<section id="our-history" translate>
	<div class="img-then-text">
		<div>
			<h2 class="editable">Nuestra historia</h2>
			<p class="editable">First Generation First comenzó como una idea entre dos amigos que habían visto las desigualdades de ser un estudiante universitario de primera generación y de bajos ingresos en una universidad de élite como Stanford. Jazmin y Caroline se conocieron en su primer año de universidad y pronto se dieron cuenta de que compartían experiencias muy similares a pesar de venir de diferentes culturas y estados. Llegaron a apreciarse y confiar el uno en el otro y se dieron cuenta de que nunca quisieron que otros estudiantes de primera generación lucharan tanto como ellos. Su deseo de ayudar a los estudiantes y cuidar de la educación los llevó a lanzar FGF, donde colocamos primero a los estudiantes de primera generación y / o de bajos ingresos.</p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/media/ourhistory.jpg" class="editable">
		</div>
	</div>
</section>
<section id="our-mission" translate>
	<div class="text-then-img">
		<div>
			<h2 class="editable">Nuestra misión</h2>
			<p class="editable">Nuestra organización tiene como objetivo proporcionar la información que muchos estudiantes de primera generación y / o de bajos ingresos tienen dificultades para obtener o comprender. A través de becas, plantillas de currículums, explicando nueva terminología y mucho más, FGF planea aumentar la confianza de los estudiantes al prepararlos en la escuela secundaria y antes de ingresar a la universidad. También estamos trabajando para ayudar a los padres de nuestros estudiantes, muchos de los cuales son inmigrantes indocumentados, refugiados o no tuvieron la oportunidad de ingresar a la educación superior. Nuestro plan es hacer que la transición de la escuela secundaria a la universidad sea lo más fácil posible para todos los involucrados.</p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/media/ourmission.jpg" class="editable">
		</div>
	</div>
</section>
<section id="contact-us" translate="no">
	<div>
		<div>
			<h2 class="editable"><span translate>Contáctenos</span>
				<div>
					<svg preserveaspectratio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 337.772 303.508" role="img">
					<path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
					</svg>
				</div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span> <span>@{{ site.instagram.handle }}<span></span></span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span> <span>@{{ site.twitter.handle }}<span></span></span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span> <span>{{ site.youtube.name }}<span></span></span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span> <span>{{ site.email }}<span></span></span></a></p>
			<p class="editable" translate>¡Háganos saber si desea unirse a nuestro equipo!</p>
		</div>
		<div translate>
			<form action="https://formspree.io/mqkyngyo" method="POST">
				<h4 class="editable">Envianos un email</h4>
				<input type="text" name="name" placeholder="Nombre" required>
				<input type="email" name="_replyto" placeholder="Email" required>
				<textarea name="message" placeholder="Tu mensaje" required></textarea>
				<button type="submit">Enviar</button>
			</form>
		</div>
	</div>
</section>