---
title: "Hogar"
layout: "default.es"
permalink: "/hogar"
lang: "es"
lang-ref: "home"
en: "/"
---

<div id="banner" class="withscript" translate>
	<p>Nuestra solicitud de beca se cierra</p>
	<h4 id="scholarship-time-left"></h4>
	<div class="button-center">
		<a href="{{ site.baseurl }}/estudiantes/beca" target="_self" class="button">¡Aplica ya!</a>
	</div>
</div>
<script type="text/javascript">!function(t,l,b){function f(d){if((d=~~((t-new Date())/1000))>0){l.textContent=d<300?"less than 5 minutes!":d<3600?~~(d/60)+" minutes!":d<7200?"1 hour!":d<86400?~~(d/3600)+" hours":d<172800?"1 day":~~(d/86400)+" days"}else b.style.display="none"}setInterval(f,1000),f()}(new Date("2020-09-02T06:59:59.999Z"),document.getElementById("scholarship-time-left"),document.getElementById("banner"))</script>
<section id="quick-links" translate>
	<div id="quick-links-container">
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="https://youtu.be/{{ site.youtube.latestvideo }}" target="_blank" rel="nofollow noopener">
					<div>
						<img src="https://img.youtube.com/vi/{{ site.youtube.latestvideo }}/0.jpg">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable" translate="no">YouTube</h4>
			<p class="editable">¡Revisa nuestro último vídeo! Jazmin habla de todos los artículos que tuvo que comprar para mudarse a su dormitorio universitario y de lo rápido que pueden acumularse los gastos.</p>
			<a href="{{ site.youtube.url }}" target="_blank" rel="nofollow noopener" class="editable button">Suscribir</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/estudiantes/beca" target="_self">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/apply.jpg">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Aplicar</h4>
			<p class="editable">Los objetivos FGF beca para asistir financieramente de primera generación y / o estudiantes de secundaria de bajos ingresos con los gastos de la universidad. Compruebe si es elegible!</p>
			<a href="{{ site.baseurl }}/estudiantes/beca" target="_self" class="editable button">Aplicar</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/donar" target="_self">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/donate.jpg">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Donar</h4>
			<p class="editable">La Primera Generación Primera Fondo será utilizado para becas para estudiantes en escuelas de bajos recursos que están entrando en su primer año de universidad.</p>
			<a href="{{ site.baseurl }}/donar" target="_self" class="editable button">Donar</a>
		</div>
	</div>
</section>
<section id="about-us" translate>
	<div class="text-then-img">
		<div>
			<h2 class="editable">Sobre nosotros</h2>
			<p class="editable">FGF fue fundada por Jazmin Reyes en julio de 2020, como estudiante en la Universidad de Stanford. A lo largo de su infancia, Jazmín vio a su familia y su comunidad sufren debido a la pobreza, el racismo, y un sistema de educación injusta como de primera generación y el estudiante de bajos ingresos a sí misma. Nuestro objetivo es ayudar a otros estudiantes FGLI en situaciones similares tengan un mejor acceso a la educación superior. A partir de las primeras etapas de la soñando con la universidad para ser aceptado, FGF objetivos para asegurar que ningún estudiante FGLI está siempre solo.</p>
		</div>
		<div>
			<div id="about">
				<div>
					<iframe allowfullscreen="allowFullScreen" src="https://www.youtube.com/embed/Z73NQ43q5RI?ecver=1&iv_load_policy=1&rel=0&showinfo=0&yt:stretch=16:9&autohide=1&color=red" allowtransparency="true" frameborder="0"></iframe>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="contact-us" translate="no">
	<div>
		<div>
			<h2 class="editable" translate>Contáctenos<div>
				<svg preserveaspectratio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 337.772 303.508" role="img">
					<path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
				</svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span> <span class="link">@{{ site.instagram.handle }}<span></span></span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span> <span class="link">@{{ site.twitter.handle }}<span></span></span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span> <span class="link">{{ site.youtube.name }}<span></span></span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span> <span class="link">{{ site.email }}<span></span></span></a></p>
			<p class="editable" translate>Háganos saber si desea unirse a nuestro equipo!</p>
		</div>
		<div translate>
			<form action="https://formspree.io/mqkyngyo" method="POST">
				<h4 class="editable">Envianos un email</h4>
				<input type="text" name="name" placeholder="Nombre" required>
				<input type="email" name="_replyto" placeholder="Email" required>
				<textarea name="message" placeholder="Tu mensaje" required></textarea>
				<button type="submit">Enviar</button>
			</form>
		</div>
	</div>
</section>
<section id="follow-us" translate="no">
	<div class="button-center">
		<a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span> <span class="editable" translate>Síguenos</span></a>
	</div>
	<div id="follow-tags" class="flex-row">
		<div>@{{ site.instagram.handle }}</div>
		<div class="editable">#firstgenfirst</div>
		<div class="editable">#IAmFLI</div>
	</div>
	<div id="follow-images" class="flex-row">
		<img src="{{ site.baseurl }}/media/follow-us-1.jpg" class="editable">
		<img src="{{ site.baseurl }}/media/follow-us-2.jpg" class="editable">
		<img src="{{ site.baseurl }}/media/follow-us-3.jpg" class="editable">
	</div>
</section>