---
  title: "Hogar"
  description: "Encuentre recursos para estudiantes universitarios de primera generación y solicite nuestra beca de primera generación."
  layout: "default.es"
  permalink: "/hogar"
  lang: "es"
  lang-ref: "home"
  en: "/"
---

<section id="quick-links" translate>
	<div id="quick-links-container">
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="https://youtu.be/{{ site.youtube.latestvideo }}" target="_blank" rel="nofollow noopener">
					<div>
						<img src="https://img.youtube.com/vi/{{ site.youtube.latestvideo }}/0.jpg" alt="Miniatura de nuestro último vídeo de YouTube">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable" translate="no">YouTube</h4>
			<p class="editable">Echa un vistazo a nuestro último vídeo y el segundo vlog de Jazmín: decorar su habitación! Jazmin va de compras para encontrar decoraciones (con un presupuesto) y da un recorrido por su apartamento después de conseguir que creó!</p>
			<a href="{{ site.youtube.url }}" target="_blank" rel="nofollow noopener" class="editable button">Suscribir</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="https://howto.vote/?lang=es" target="_blank" rel="nofollow noopener">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/voterregistration.jpg" class="editable" alt="Una mano de llenar una solicitud de beca">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Votar</h4>
			<p class="editable">Asegúrese de que está registrado para votar en su área. Siga las instrucciones en el siguiente enlace para aprender, y por favor, participar en su elección local!</p>
			<a href="https://howto.vote/?lang=es" target="_blank" rel="nofollow noopener" class="editable button">Registrarse</a>
		</div>
		<div class="quick-link">
			<div class="quick-link-img">
				<a href="{{ site.baseurl }}/donar" target="_self">
					<div>
						<img src="{{ site.baseurl }}/{{ site.mediadir }}/donate.jpg" class="editable" alt="Una multitud de estudiantes en vestidos de graduación">
						<div></div>
					</div>
				</a>
			</div>
			<h4 class="editable">Donar</h4>
			<p class="editable">La Primera Generación Primera Fondo será utilizado para becas para estudiantes en escuelas de bajos recursos que están entrando en su primer año de universidad.</p>
			<a href="{{ site.baseurl }}/donar" target="_self" class="editable button">Donar</a>
		</div>
	</div>
</section>
<section id="about-us" translate>
	<div class="text-then-img">
		<div>
			<h2 class="editable">Sobre nosotros</h2>
			<p class="editable">FGF fue fundada por Jazmin Reyes en julio de 2020, como estudiante en la Universidad de Stanford. A lo largo de su infancia, Jazmín vio a su familia y su comunidad sufren debido a la pobreza, el racismo, y un sistema de educación injusta como de primera generación y el estudiante de bajos ingresos a sí misma. Nuestro objetivo es ayudar a otros estudiantes FGLI en situaciones similares tengan un mejor acceso a la educación superior. A partir de las primeras etapas de la soñando con la universidad para ser aceptado, FGF objetivos para asegurar que ningún estudiante FGLI está siempre solo.</p>
		</div>
		<div>
			<div id="about">
				<div>
					<iframe title="Video de bienvenida de First Generation First" allowfullscreen="allowFullScreen" src="https://www.youtube.com/embed/Z73NQ43q5RI?ecver=1&iv_load_policy=1&rel=0&showinfo=0&yt:stretch=16:9&autohide=1&color=red" allowtransparency="true" frameborder="0"></iframe>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% include contact-us.html %}
<section id="follow-us" translate="no">
	<div class="button-center">
		<a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span><span class="editable" translate>Síguenos</span></a>
	</div>
	<div id="follow-tags" class="flex-row">
		<div>@{{ site.instagram.handle }}</div>
		<div class="editable">#firstgenfirst</div>
		<div class="editable">#IAmFLI</div>
	</div>
	{%- comment -%}
	If JavaScript is disabled, no lazy loading optimizations take place; just load the images directly in a <noscript> element.
	{%- endcomment -%}
	<noscript>
		<div id="follow-images" class="flex-row" translate>
			<img src="{{ site.baseurl }}/media/follow-us-1.jpg" alt="Jazmin y Caroline, con un cartel &quot;FLI @ Stanford&quot;">
			<img src="{{ site.baseurl }}/media/follow-us-2.jpg" alt="Dos estudiantes FGLI posando para una foto delante del espacio Meyer Verde de Stanford">
			<img src="{{ site.baseurl }}/media/follow-us-3.jpg" alt="Un grupo de muchos estudiantes FGLI posando para una foto de grupo de soporte múltiple &quot;FLI @ Stanford&quot; banners">
		</div>
	</noscript>
	{%- comment -%}
	If JavaScript is enabled, these images are lazy loaded using lazysizes to make the page a tiny bit faster to load.
	{%- endcomment -%}
	<div id="follow-images" class="flex-row withscript" translate>
		<img data-src="{{ site.baseurl }}/media/follow-us-1.jpg" class="lazyload" alt="Jazmin y Caroline, con un cartel &quot;FLI @ Stanford&quot;">
		<img data-src="{{ site.baseurl }}/media/follow-us-2.jpg" class="lazyload" alt="Dos estudiantes FGLI posando para una foto delante del espacio Meyer Verde de Stanford">
		<img data-src="{{ site.baseurl }}/media/follow-us-3.jpg" class="lazyload" alt="Un grupo de muchos estudiantes FGLI posando para una foto de grupo de soporte múltiple &quot;FLI @ Stanford&quot; banners">
	</div>
</noscript></section>