---
title: "Estudiantes"
layout: "default.es"
permalink: "/estudiantes.html"
lang: "es"
lang-ref: "students"
en: "students"
---
<section id="students" translate>
	<div>
		<h2 class="editable">Estudiantes</h2>
		<p class="editable">Esta página consta de <strong>varios recursos</strong> eso tiene <strong>probado ser efectivo</strong> para otros estudiantes en el pasado. De ninguna manera estos recursos deben servir como pautas o rúbricas para sus planes personales para la escuela secundaria y la universidad. Todos los conceptos y consejos son simplemente sugerencias para formas fáciles de pasar por muchas fases que los estudiantes de FGLI generalmente encuentran desafiantes.</p>
	</div>
	<section id="fgf-scholarship">
		<div>
			<h3 class="editable">Beca de FGF</h3>
			<p class="editable">La beca FGF tiene como objetivo ayudar financieramente a los estudiantes de primera generación y / o de bajos ingresos que ingresan a la universidad por primera vez. Premiaremos al menos a uno <strong>beca de $500</strong> pero podemos elegir <strong>múltiples solicitantes</strong> (depende de la cantidad de dinero que recaudemos)!</p>
			<p class="editable">Nota: Queremos ayudar a aquellos <strong>que más lo necesiten</strong> y no necesariamente al “mejor” solicitante, ¡así que solicítelo!</p>
		</div>
		<div class="button-center">
			<a href="{{ site.baseurl }}/beca" target="_self" class="editable button">Más detalles</a>
		</div>
	</section>
	<section id="other-scholarships">
		<div>
			<h3 class="editable">Otras becas</h3>
			<p class="editable">Sabemos que su último año de escuela secundaria está lleno de solicitudes universitarias, tareas escolares, actividades extracurriculares y más, por lo que decidimos poner <strong>todas las becas potenciales en un solo lugar</strong> ¡para ayudarlo a ahorrar tiempo al hacer la investigación usted mismo! Nos enfocamos en becas nacionales y locales que también apuntan a <strong>ayudar a los estudiantes de primera generación y / o de bajos ingresos</strong> pero algunos pueden tener requisitos adicionales (o menos). FGF no está patrocinado por ninguna de estas becas / organizaciones ni se le paga para promoverlas.</p>
		</div>
		<div class="button-center">
			<a href="https://docs.google.com/spreadsheets/d/1uTAV_ZsEKizX9_d07nbYoR0bXv8buwHOsQIWBweNyeQ/edit?usp=sharing" target="_blank" rel="nofollow noopener" class="editable button">Más detalles</a>
		</div>
	</section>
	<section id="actions-you-can-take-in-high-school">
		<div>
			<h3 class="editable">Acciones que puede realizar en la escuela secundaria</h3>
			<p class="editable">Entrar en la universidad comienza mucho antes de que empieces a aplicar. Desde la inscripción al curso hasta las actividades extracurriculares extracurriculares, los estudiantes deben crear sus solicitudes universitarias cuando <strong>primero ingrese a la escuela secundaria</strong>. A continuación se muestran algunas acciones comunes que generalmente ayudan a tener un <strong>fuerte aplicación</strong>.</p>
		</div>
		<div id="chart">
			<div>
				<div>
					<h4 class="editable">Noveno Grado</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>¡Sacar buenas notas!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Encuentra amigos con objetivos similares</strong> quien te apoyará y viceversa.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Participa en algunos clubes</strong> en la escuela (¡o fuera!) simplemente asistiendo a reuniones y buscando cuáles te ayudarán a explorar tus intereses.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Presentarte</strong> a tus profesores y comienza una conexión profesional para que estén dispuestos a ayudarte en el futuro.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Empiece un gráfico en el que desee <strong>escribe todas tus actividades</strong>, horas de voluntariado, etc. para que puedas estar al tanto de todo.</li>
					</ul>
				</div>
				<div>
					<h4 class="editable">Décimo Grado</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>Continuar participando</strong> con tus clubes y extracurriculares. No tenga miedo de agregar o eliminar actividades en las que desea invertir más tiempo.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>¡Mantenga sus calificaciones!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Aumente la dificultad de sus clases tomando <strong>Honores, AP y / o IB</strong> clases si su escuela secundaria las tiene disponibles.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Toma el <strong>PSAT</strong> por primera vez y empieza a investigar <strong><a href="#sat-act-practice-preparation" class="link">Preparación para el SAT</a></strong>.</li>
					</ul>
				</div>
			</div>
			<div>
				<div>
					<h4 class="editable">Onceavo Grado</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Empieza a correr por <strong>puestos de liderazgo</strong> en sus actividades extracurriculares (esto puede comenzar desde el primer año, pero es muy común en el tercer o cuarto año).</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Continuar a <strong>aumenta la dificultad de tu curso</strong> ¡y asegúrese de que sus calificaciones estén altas!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Toma el <strong>Pruebas SAT / ACT / AP</strong> ¡y apunte a una puntuación alta!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Examinar <strong><a href="https://collegereadiness.collegeboard.org/sat-subject-tests" target="_blank" rel="nofollow noopener" class="link">Pruebas de materias SAT</a></strong> para fortalecer su aplicación.</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Comienzo <strong>construyendo tu perfil profesional</strong> (LinkedIn, Reéumé, etc.).</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Tu <strong>maestros de tercer año</strong> potencialmente escribirá sus cartas de recomendación, así que asegúrese de que <strong>llegar a conocer lo mejor de ti</strong>!</li>
					</ul>
				</div>
				<div>
					<h4 class="editable">Duodécimo Grado</h4>
					<ul>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Toma el <strong>SAT / ACT de nuevo</strong> si puede, ¡y apunte a una puntuación aún más alta que antes!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Asegúrate de seguir tomando cursos rigurosos (<strong>las universidades seguirán mirando las calificaciones del primer semestre</strong>)!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Investiga y finalmente empieza <strong>aplicando a universidades!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Asegúrese de que su <strong>la aplicación es fuerte</strong> usando nuestros consejos y trucos!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>¡Asuma sus entrevistas universitarias!</strong></li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div>Sea aceptado y <strong>empezar a preparar</strong> para este nuevo capítulo de la vida!</li>
						<li class="editable"><div translate="no">{% include list-checkmark.svg %}</div><strong>La vida no termina</strong> con rechazos universitarios y hay varios caminos en la vida que puedes tomar. :)</li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<p class="editable">Tus actividades no tienen que empezar y terminar cuando estás en la escuela. Asegurate que <strong>llena tus veranos con actividades divertidas</strong> como ser voluntario, conseguir un trabajo o buscar becas. <strong>Mira estos videos de YouTube</strong> para las cosas que debe hacer en los veranos entre su año escolar!</p>
		</div>
		<div class="button-center">
			<a target="_blank" class="editable button">¡Próximamente!</a>
		</div>
	</section>
	<section id="sat-act-practice-preparation">
		<div>
			<h3 class="editable">SAT/ACT práctica & preparación</h3>
			<p class="editable">El SAT y el ACT son exámenes estandarizados que toman casi todos los estudiantes en los EE. UU. Aunque muchas universidades requieren que presente sus puntajes SAT / ACT, muchas universidades optan por el SAT opcional. Independientemente, <strong>estas pruebas son muy importantes</strong> a su solicitud para la universidad y <strong>¡Queremos ayudarte a obtener la puntuación más alta posible!</strong> <strong>¡Pruebe estos recursos para la preparación para el SAT / ACT!</strong> FGF no está patrocinado por ninguna de estas empresas / organizaciones ni se le paga para promoverlas.</p>
		</div>
		<ul>
			<li>
				<h4 class="editable"><a href="https://www.collegematchla.org/" target="_blank" rel="nofollow noopener" class="link">College Match – Gratis</a></h4>
				<p class="editable">CM es una organización sin fines de lucro con sede en el área de Los Ángeles que ayuda a los estudiantes de primera generación y de bajos ingresos con la preparación semanal del SAT con tutores personales, consejeros universitarios individuales e incluso un viaje gratuito a varias universidades de la costa este. Pregúntele a su consejero universitario si su escuela está asociada con College Match y pregunte cómo puede ingresar a este programa gratuito.</p>
			</li>
			<li>
				<h4 class="editable"><a href="http://janaetutoring.com/" target="_blank" rel="nofollow noopener" class="link">Janae's Tutoring – Suscripción Mensual</a></h4>
				<p class="editable">Janae, una estudiante actual de la Universidad de Stanford, comenzó su negocio cuando tenía 15 años combinando su pasión por la educación y el espíritu empresarial para crear una empresa de tutoría. ¡A ella y a su equipo les encantaría ayudarlo con la tutoría individual para aumentar sus puntajes SAT, ACT y AP!</p>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.khanacademy.org/test-prep/sat" target="_blank" rel="nofollow noopener" class="link">Khan Academy – Gratis</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://learn.khanacademy.org/osp-landing-page/?utm_source=cbcta-satprl-sy-2020-21&utm_medium=cb418-xt&utm_campaign=osp-lp" target="_blank" rel="nofollow noopener" class="link">College Board – Gratis</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.varsitytutors.com/sat-practice-tests" target="_blank" rel="nofollow noopener" class="link">Varsity Tutors – Gratis</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.testprepreview.com/sat_practice.htm" target="_blank" rel="nofollow noopener" class="link">Test Prep Review – Gratis</a></h4>
			</li>
			<li>
				<h4 class="editable"><a href="https://www.princetonreview.com/college/free-sat-practice-test#!practice" target="_blank" rel="nofollow noopener" class="link">The Princeton Review – Gratis... Parcialmente</a></h4>
			</li>
		</ul>
	</section>
	<section id="build-your-professional-profile">
		<div>
			<h3 class="editable">Construya su perfil profesional</h3>
			<p class="editable">Sabemos que da miedo entrar en el mundo profesional. FGF quiere <strong>ayudarte a verte bien</strong> no solo para universidades sino también para <strong>potenciales empleadores y redes</strong>! ¡Consulte nuestra lista de verificación para ver qué puede hacer para comenzar a construir su perfil profesional!</p>
		</div>
		<div class="button-center">
			<a target="_blank" class="editable button">¡Próximamente!</a>
		</div>
	</section>
</section>