---
title: "Preguntas Más Frecuentes"
layout: "default.es"
permalink: "/estudiantes/beca/pmf"
lang: "es"
lang-ref: "faq"
en: "/students/scholarship/faq"
---

<section id="faq" translate>
	<h2 class="editable">Beca: preguntas más frecuentes</h2>
	<ul>
		<li>
			<h3 class="editable">
			    Son los años sabáticos elegible?
			</h3>
			<p class="editable">
			    Sí, cualquier persona que se graduó y está entrando en su primer año de universidad es elegible para nuestro beca!
			</p>
		</li>
		<li>
			<h3 class="editable">
			    ¿Puedo aplicar si estoy indocumentado?
			</h3>
			<p class="editable">
			    Sí, nuestra aplicación y todo el proceso de la beca es de 100% amigable entre los estudiantes indocumentados!
			</p>
		</li>
		<li>
			<h3 class="editable">
			    Es la beca sólo para los residentes de California?
			</h3>
			<p class="editable">
			    No, cualquier estudiante en los EE.UU. va a una escuela de EE.UU. es elegible para nuestro beca. Por desgracia, no se aceptan solicitudes de estudiantes en los territorios de Estados Unidos en este momento.
			</p>
		</li>
		<li>
			<h3 class="editable">
			    ¿Cuándo tengo que presentar la solicitud?
			</h3>
			<p class="editable">
			    Nuestra fecha límite para solicitar es septiembre 1, 2020 a 23:59 (PDT).
			</p>
		</li>
		<li>
			<h3 class="editable">
			    Cuando se notificará a los beneficiarios (s)?
			</h3>
			<p class="editable">
			    Dependiendo del número de solicitudes que recibimos, puede tomar más tiempo para elegir. Esperamos tener el destinatario (s) seleccionado a finales de septiembre.
			</p>
		</li>
		<li>
			<h3 class="editable">
			    Son los estudiantes de transferencia elegible?
			</h3>
			<p class="editable">
			    Desafortunadamente, no aceptamos estudiantes de transferencia en este momento, pero es posible que tengamos una beca para estudiantes de transferencia en el futuro!
			</p>
		</li>
		<li>
			<h3 class="editable">
			    ¿Puedo solicitar a pesar de que ya se tomó cursos de la universidad en la escuela secundaria?
			</h3>
			<p class="editable">
			    Sí, siempre que este será su primer año como estudiante universitario, usted es elegible!
			</p>
		</li>
		<li>
			<h3 class="editable">
			    Yo’m entrar a la universidad por primera vez como un adulto, ¿soy elegible?
			</h3>
			<p class="editable">Sí, solo incluya sus circunstancias especiales en la sección “Additional Comments” para informarnos.</p>
		</li>
	</ul>
</section>
<section id="contact-us" translate="no">
	<div>
		<div>
			<h2 class="editable" translate>
			    ¿Más preguntas?<br>¡Contáctenos!
			    <div><svg preserveaspectratio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 337.772 303.508" role="img"> <path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path> </svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span> <span class="link">@{{ site.instagram.handle }}<span></span></span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span> <span class="link">@{{ site.twitter.handle }}<span></span></span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span> <span class="link">{{ site.youtube.name }}<span></span></span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span> <span class="link">{{ site.email }}<span></span></span></a></p>
			<p class="editable" translate>
			    Háganos saber si desea unirse a nuestro equipo!
			</p>
		</div>
		<div translate>
			<form action="https://formspree.io/mqkyngyo" method="POST">
				<h4 class="editable">
				    Envianos un email
				</h4>
				<input type="text" name="name" placeholder="Nombre" required>
				<input type="email" name="_replyto" placeholder="Email" required>
				<textarea name="message" placeholder="Tu mensaje" required></textarea>
				<button type="submit">Enviar</button>
			</form>
		</div>
	</div>
</section>