---
title: Frequently Asked Questions
layout: default
permalink: /students/scholarship/faq
lang: en
lang-ref: faq
es: /estudiantes/beca/pmf
---
<section id="faq" translate>
	<h2 class="editable" data-translate-override-es="Beca: preguntas más frecuentes">Scholarship: Frequently Asked Questions</h2>
	<ul>
		<li>
			<h3>Are gap years eligible?</h3>
			<p>Yes, anyone who graduated and is entering their first year of college is eligible for our scholarship!</p>
		</li>
		<li>
			<h3>Can I apply if I'm undocumented?</h3>
			<p>Yes, our application and entire scholarship process is 100% undocumented student-friendly!</p>
		</li>
		<li>
			<h3>Is the scholarship only for California residents?</h3>
			<p>No, any student in the U.S. going to a U.S. school is eligible for our scholarship. Unfortunately, we do not accept applications from students in U.S. territories at this time.</p>
		</li>
		<li>
			<h3>When do I have to submit the application?</h3>
			<p>Our deadline to apply is September 1, 2020 at 11:59 (PDT).</p>
		</li>
		<li>
			<h3>When will the recipients(s) be notified?</h3>
			<p>Depending on how many application we get, it may take longer to choose. We hope to have the recipient(s) selected by the end of September.</p>
		</li>
		<li>
			<h3>Are transfer students eligible?</h3>
			<p>Unfortunately, we do not accept transfer students at this time, but we may have a scholarship for transfer students in the future!</p>
		</li>
		<li>
			<h3>Can I apply even though I already took college courses in high school?</h3>
			<p>Yes, as long as this will be your first year as a college student, you are eligible!</p>
		</li>
		<li>
			<h3>I’m entering college for the first time as an adult, am I eligible?</h3>
			<p data-translate-override-es="Sí, solo incluya sus circunstancias especiales en la sección &ldquo;Additional Comments&rdquo; para informarnos.">Yes, just include your special circumstances in the &ldquo;Additional Comments&rdquo; section to let us know!</p>
		</li>
	</ul>
</section>
<section id="contact-us" translate="no">
	<div>
		<div>
			<h2 class="editable"translate>More Questions?<br>Contact Us!<div>
				<svg preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.772 303.508" role="img">
					<path fill="currentColor" d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
				</svg></div>
			</h2>
			<p><a href="{{ site.instagram.url }}"><span>{% include social-media-icons.html social_icon="instagram" %}</span>&nbsp;<span class="link">@{{ site.instagram.handle }}<span></a></p>
			<p><a href="{{ site.twitter.url }}"><span>{% include social-media-icons.html social_icon="twitter" %}</span>&nbsp;<span class="link">@{{ site.twitter.handle }}<span></a></p>
			<p><a href="{{ site.youtube.url }}"><span>{% include social-media-icons.html social_icon="youtube" %}</span>&nbsp;<span class="link">{{ site.youtube.name }}<span></a></p>
			<p><a href="mailto:{{ site.email }}"><span>{% include social-media-icons.html social_icon="email" %}</span>&nbsp;<span class="link">{{ site.email }}<span></a></p>
			<p class="editable" translate>Let us know if you'd like to join our team!</p>
		</div>
		<div translate="">
			<form action="https://formspree.io/mqkyngyo" method="POST">
				<h4 class="editable">Send Us An Email</h4>
				<input type="text" name="name" placeholder="Name" required />
				<input type="email" name="_replyto" placeholder="Email" required />
				<textarea name="message" placeholder="Your Message" required></textarea>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</section>